<div class="transition" style="display: inline-block;padding-top:60px;width:100%;opacity:0" id="contentToShow">
    <span class="text color-d" style="font-size: 6vw;display:block" id="welcomeH">Welcome to </span>
    <span class="text" style="font-size: 2vw;display:block;font-weight:500;margin-top:10px" id="welcomeM">This is your club page with all the links that you can follow!</span>
    <br/>
    <br/>
    <div class="container c-border" id="signin_container" style="display: none;width:50%;padding:20px">
        <span class="text color-d" style="font-size: 40px;display:block;margin-bottom: 5px;" id="signin_title"></span>
        <div>
            <span class="text color-d" style="font-size: 20px;font-weight: 500;display:block;margin-bottom: 20px;" id="signin_desc"><i>This is a very interesing dialogue box!</i></span>
            <div class="container c-border c-hover goToPage baseaction" data-action="logattendance" style="padding:10px 20px 10px 20px;display:inline-block" id="signin_no">
                I'm There!
            </div>
            <div class="c-border bounce" style="border-radius: 60px;border-width:4px;background-color:#4708c4;width:2vw;height:2vw;display:inline-block" id="signin_yes">
                <span class="material-symbols-rounded color-w" style="width:50%;margin-top:24%;font-size:1.05vw">check</span>
            </div>
        </div>
        
    </div>
    <br/>
    <br/>
    <div id="items" style="width:100%">

    </div>
</div>
<script>
    var group = "";
    if(window.location.pathname.split("/").length > 2){
        group = window.location.pathname.split("/")[2];
    }
    $.ajax({
        url: "/acc/verify",
        success: function(data){
            data = JSON.parse(data);
            if(data["successful"]){
                
            }

        }
    });
    $.ajax({
        url: "/group/today",
        headers : {group : group},
        success: function(data){
            data = JSON.parse(data);
            console.log(data);
            if(data["successful"]){
                if(data["today"] == undefined){
                    document.getElementById("signin_container").style.display = "none";
                }else{
                    var date = new Date(data["today"]["datetime"]);
                    document.getElementById("signin_title").innerHTML = data["today"]["title"];
                    document.getElementById("signin_desc").innerHTML = data["today"]["description"] + " @ " + (date.getHours()%12) + ":" + date.getMinutes();
                    document.getElementById("signin_container").style.display = "inline-block";
                    if(data["today"]["logged"]){
                        document.getElementById("signin_yes").style.display = "inline-block";
                        document.getElementById("signin_no").style.display = "none";
                    }else{
                        document.getElementById("signin_yes").style.display = "none";
                        document.getElementById("signin_no").style.display = "inline-block";
                    }
                }
            }
        }
    });
    $.ajax({
        url: "/group/items",
        headers: {group : group},
        success: function(data){
            data = JSON.parse(data);
            if(data["successful"]){
                document.getElementById("welcomeH").innerHTML = data["fromGroupId"];
                document.getElementById("items").innerHTML = "";
                data["items"].forEach(i => {
                    if(i["show"]){
                        document.getElementById('items').innerHTML += `
                        <div class="container c-slightborder item" style="width:70%;padding:20px;margin-bottom:20px">
                            <div class="bigscreen">
                                <div style="width:14%;display:inline-block;vertical-align:middle">
                                    <div class="c-border bounce" style="border-radius: 60px;border-width:4px;background-color:#4708c4;width:4.5vw;height:4.5vw;display:inline-block;min-width:40px;min-height:40px">
                                        <span class="material-symbols-rounded color-w" style="margin-top:24%;font-size:2.2vw">${i["icon"]}</span>
                                    </div>
                                    ${
                                        (i["details"] != undefined && i["details"]["end"] != undefined) ?
                                            `<br/>
                                            <div class="c-border bounce" style="padding:5px 0px;background-color:#4708c4;display:inline-block;margin-top:5px;width:4.5vw">
                                                <span class="color-w" style="font-size:1vw">3 days</span>
                                            </div>` : ``
                                    }
                                    
                                </div>
                                <div style="width:84%;display:inline-block;vertical-align:middle">
                                    <span class="text color-d" style="display:block;font-size:30px;margin:10px">${i["title"]}</span>
                                    <span class="text color-d" style="display:block;font-weight:500;margin:10px;font-size:16px">${i["contents"]}</span>
                                    ${
                                        i["result"]["to"] == "link" ?
                                            `<div class="container c-border c-hover link" style="padding:10px 50px 10px 50px;margin:10px" data-link="${i["result"]["data"]}">
                                                Open Link
                                            </div>` : ``
                                    }
                                    
                                </div>
                            </div>
                            <div class="smallscreen">
                                <div style="display:block;vertical-align:middle">
                                    <div class="c-border bounce" style="border-radius: 60px;border-width:4px;background-color:#4708c4;width:4.5vw;height:4.5vw;display:inline-block;min-width:40px;min-height:40px">
                                        <span class="material-symbols-rounded color-w" style="width:50%;margin-top:24%;font-size:120%">${i["icon"]}</span>
                                    </div>
                                    ${
                                        (i["details"] != undefined && i["details"]["end"] != undefined) ?
                                            `<br/>
                                            <div class="c-border bounce" style="padding:5px 0px;background-color:#4708c4;display:inline-block;margin-top:5px;width:4.5vw">
                                                <span class="color-w" style="font-size:1vw">3 days</span>
                                            </div>` : ``
                                    }
                                    
                                </div>
                                <div style="display:block;vertical-align:middle">
                                    <span class="text color-d" style="display:block;font-size:30px;margin:10px">${i["title"]}</span>
                                    <span class="text color-d" style="display:block;font-weight:500;margin:10px;font-size:16px">${i["contents"]}</span>
                                    ${
                                        i["result"]["to"] == "link" ?
                                            `<div class="container c-border c-hover link" style="padding:10px 50px 10px 50px;margin:10px" data-link="${i["result"]["data"]}">
                                                Open Link
                                            </div>` : ``
                                    }
                                    
                                </div>
                            </div>
                            
                            
                        </div>
                        
                        `
                    }
                    
                });
                Array.from(document.getElementsByClassName("bounce")).forEach(e => {
                    e.addEventListener("click", function() {
                        if(!e.classList.contains("bounce-on")){
                            e.classList.add("bounce-on");
                            setTimeout(function() {
                                e.classList.remove("bounce-on");
                            }, 600);
                        }
                        
                    });
                });

                Array.from(document.getElementsByClassName("link")).forEach(e => {
                    e.addEventListener("click", function(evt) {
                        window.open(evt.srcElement.dataset.link, '_blank');
                    });
                });
                document.getElementById("contentToShow").style.opacity = 1;
            }
        }
    })
    
</script>