<div class="transition" style="display: inline-block;padding-top:60px;width:100%;opacity:0" id="contentToShow">
    <span class="text color-d" style="font-size: 100px;display:block" id="welcomeH">User Management</span>
    

    <div>
        <div class="container c-border c-hover blockcontrol" style="padding:10px 50px 10px 50px;margin:10px" data-partof="usermanage" data-num="1">
            <span style="pointer-events: none;">User Accounts</span>
        </div>
        <div class="container c-border c-hover blockcontrol" style="padding:10px 50px 10px 50px;margin:10px" data-partof="usermanage" data-num="2">
            <span style="pointer-events: none">Permissions</span>
        </div>
        <div class="container c-border c-hover blockcontrol" style="padding:10px 50px 10px 50px;margin:10px" data-partof="usermanage" data-num="3">
            <span style="pointer-events: none">Groups</span>
        </div>
    </div>

    <br/>
    <br/>
    <br/>
    <div class="blockitem" data-partof="usermanage" data-num="1" style="width:100%;display:none">
        <div style="display:inline-flex;justify-content:space-between;width:88%">
            <div id="filter" style="width:24%">
                <div class="container c-slighterborder" style="width:100%;padding:30px">
                    <span class="text" style="margin:14px">Filter Users</span>
                    <div>
                        <div style="width:100px;display:inline-block;text-align:left;vertical-align:middle">
                            <span class="text color-d" style="font-size:14px;font-weight:500;margin-right:5px;">Username:</span>
                        </div>
                        <input type="text" class="text color-d input" style="display:inline-block;font-size:14px;margin-top:10px;width:60%;padding:10px;vertical-align:middle;" value="" placeholder="Doe-y">
                    </div>
                    <div>
                        <div style="width:100px;display:inline-block;text-align:left;vertical-align:middle">
                            <span class="text color-d" style="font-size:14px;font-weight:500;margin-right:5px;">Name:</span>
                        </div>
                        <input type="text" class="text color-d input" style="display:inline-block;font-size:14px;margin-top:10px;width:60%;padding:10px;vertical-align:middle;" value="" placeholder="John Doe">
                    </div>
                    <div>
                        <div style="width:100px;display:inline-block;text-align:left;vertical-align:middle">
                            <span class="text color-d" style="font-size:14px;font-weight:500;margin-right:5px;">Email:</span>
                        </div>
                        <input type="text" class="text color-d input" style="display:inline-block;font-size:14px;margin-top:10px;width:60%;padding:10px;vertical-align:middle;" value="" placeholder="john@doe.com">
                    </div>
                    
                </div>
            </div>
            <div id="allUsers" style="width:66%">

            </div>
        </div>
        
    </div>
    <div class="blockitem" data-partof="usermanage" data-num="2" style="width:100%;display:none">
        <div style="display:inline-flex;justify-content:space-between;width:88%">
            <div id="roleList">

            </div>
        </div>
    </div>
    <div class="blockitem" data-partof="usermanage" data-num="3" style="width:100%;display:none">
        c
    </div>
</div>
<script>
    document.getElementById("contentToShow").style.opacity = "1";
    var allUsers = [];
    var roles = [];
    

    function refreshPermissions(){
        $.ajax({
            url: "/group/roles",
            success: function(data){
                data = JSON.parse(data);
                if(data["successful"]){
                    roles = data["items"];

                    document.getElementById("roleList").innerHTML = "";
                    
                }
            }
        })
    }
    function refreshUsers(){
        $.ajax({
            url: "/group/users",
            
            success: function(data){
                data = JSON.parse(data);
                if(data["successful"]){
                    
                    console.log(data);
                    document.getElementById("allUsers").innerHTML = "";
                    allUsers = data["items"];
                    roles = data["roles"];
                    console.log(roles);
                    allUsers.forEach(u => {
                        var color = roles.find(r => r["name"] == u["access"]["roles"])["color"];
                        document.getElementById("allUsers").innerHTML += `
                            <div class="container c-slightborder" style="width:100%;padding:20px;margin-bottom:10px;display:inline-flex;justify-content:space-between;align-items:center">
                                <div style="width:16%;text-align:left">
                                    <div>
                                        <span class="text color-d" style="pointer-events: none;margin-left:10px;font-size:14px;display:block">${u["username"]}</span>
                                        <span style="pointer-events: none;margin-left:10px;font-size:10px;display:block">Person's Name</span>
                                    </div>
                                    
                                </div>
                                <div style="width:20%;text-align:left"">
                                    <div class="container c-border" style="padding:5px 20px;background-color:${color};border:2px solid ${color}">
                                        <span class="color-w" style="font-size:12px">${u["access"]["roles"].toUpperCase()}</span>
                                        
                                    </div>
                                </div>
                                <div style="width:28%;text-align:left;">
                                    ${
                                        u["email"] == undefined ? `
                                        <span style="pointer-events: none;margin-left:10px"><i>Email Not Found</i></span>
                                        ` : `
                                        <div class="blockitem" data-partof="u_${u.id}_email" data-num="0">
                                            <div style="display:inline-flex;justify-content:space-between;width:100%;align-items:center">
                                                <span style="pointer-events: none;margin-left:10px;font-size:12px">*******@${u["email"].split("@")[1]}</span>
                                                <div class="container c-border c-hover blockcontrol" style="padding:5px;margin:1px" data-partof="u_${u.id}_email" data-num="1">
                                                    <span class="material-symbols-rounded" style="font-size:16px">visibility</span>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="blockitem" data-partof="u_${u.id}_email" data-num="1" style="display:none;">
                                            <div style="display:inline-flex;justify-content:space-between;width:100%;align-items:center">
                                                <span style="pointer-events: none;margin-left:10px;font-size:12px">${u["email"]}</span>
                                                <div class="container c-border c-hover blockcontrol" style="padding:5px;margin:1px" data-partof="u_${u.id}_email" data-num="0">
                                                    <span class="material-symbols-rounded" style="font-size:16px">visibility_off</span>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        `


                                    }
                                    
                                    
                                </div>
                                <div style="width:16%;text-align:right">
                                    <div class="container c-border c-hover" style="padding:5px;margin:1px" data-partof="u_${u.id}">
                                        <span class="material-symbols-rounded" style="font-size:16px">edit</span>
                                    </div>
                                    <div class="container c-border c-hover" style="padding:5px;margin:1px" data-partof="u_${u.id}">
                                        <span class="material-symbols-rounded" style="font-size:16px">delete</span>
                                    </div>
                                </div>
                            </div>
                            `;
                        
                    });
                    Array.from(document.getElementsByClassName("blockcontrol")).forEach(e => {
                        e.addEventListener("click", function(evt) {
                            var num = evt.srcElement.dataset.num;
                            var partof = evt.srcElement.dataset.partof;
                
                            Array.from(document.querySelectorAll(".blockitem[data-partof='" + partof + "']")).forEach(e => {
                                if(e.dataset.num == num){
                                    e.style.display = "block";
                                }else{
                                    e.style.display = "none";
                                }
                            });
                
                            Array.from(document.querySelectorAll(".blockcontrol[data-partof='" + partof + "']")).forEach(e => {
                                if(e.dataset.num == num){
                                    e.style.backgroundColor = "#4708c4";
                                    e.children[0].style.color = "white";
                                }else{
                                    e.style.backgroundColor = "";
                                    e.children[0].style.color = "";
                                }
                            });
                        });
                    });


                }
            }
        })
    }
    refreshUsers();
    Array.from(document.getElementsByClassName("blockcontrol")).forEach(e => {
        e.addEventListener("click", function(evt) {
            var num = evt.srcElement.dataset.num;
            var partof = evt.srcElement.dataset.partof;

            Array.from(document.querySelectorAll(".blockitem[data-partof='" + partof + "']")).forEach(e => {
                if(e.dataset.num == num){
                    e.style.display = "block";
                }else{
                    e.style.display = "none";
                }
            });

            Array.from(document.querySelectorAll(".blockcontrol[data-partof='" + partof + "']")).forEach(e => {
                if(e.dataset.num == num){
                    e.style.backgroundColor = "#4708c4";
                    e.children[0].style.color = "white";
                }else{
                    e.style.backgroundColor = "";
                    e.children[0].style.color = "";
                }
            });
        });
    });
</script>