<div class="transition" style="display: inline-block;width:100%;opacity:0" id="contentToShow">
    

    <div style="position: fixed;bottom:0;left:20px;z-index:999">
        <div style="display:inline-flex;justify-content:center">
            <div class="container c-border c-hover blockcontrol" style="padding:10px 50px 10px 50px;border-radius:8px 0px 0px 0px;border-width:2px 1px 2px 2px" data-partof="usermanage" data-num="1">
                <span style="pointer-events: none;">User Accounts</span>
            </div>
            <div class="container c-border c-hover blockcontrol" style="padding:10px 50px 10px 50px;border-radius:0px;border-width:2px 1px 2px 1px" data-partof="usermanage" data-num="2">
                <span style="pointer-events: none">Roles & Permissions</span>
            </div>
            <div class="container c-border c-hover blockcontrol" style="padding:10px 50px 10px 50px;border-radius:0px 8px 0px 0px;border-width:2px 2px 2px 1px" data-partof="usermanage" data-num="3">
                <span style="pointer-events: none">Subgroup Configuration</span>
            </div>
        </div>
    </div>
   
    <br/>
    <div class="blockitem" data-partof="usermanage" data-num="1" style="width:100%;display:none">
        <div style="display:inline-flex;justify-content:space-between;width:88%">
            <div id="filter" style="width:24%">
                <div class="container c-slighterborder" style="width:100%;padding:30px">
                    <span class="text" style="margin:14px">Filter Users</span>
                    <div>
                        <div style="width:100px;display:inline-block;text-align:left;vertical-align:middle">
                            <span class="text color-d" style="font-size:14px;font-weight:500;margin-right:5px;">Username:</span>
                        </div>
                        <input type="text" class="text color-d input" style="display:inline-block;font-size:14px;margin-top:10px;width:60%;padding:10px;vertical-align:middle;" value="" placeholder="Doe-y">
                    </div>
                    <div>
                        <div style="width:100px;display:inline-block;text-align:left;vertical-align:middle">
                            <span class="text color-d" style="font-size:14px;font-weight:500;margin-right:5px;">Name:</span>
                        </div>
                        <input type="text" class="text color-d input" style="display:inline-block;font-size:14px;margin-top:10px;width:60%;padding:10px;vertical-align:middle;" value="" placeholder="John Doe">
                    </div>
                    <div>
                        <div style="width:100px;display:inline-block;text-align:left;vertical-align:middle">
                            <span class="text color-d" style="font-size:14px;font-weight:500;margin-right:5px;">Email:</span>
                        </div>
                        <input type="text" class="text color-d input" style="display:inline-block;font-size:14px;margin-top:10px;width:60%;padding:10px;vertical-align:middle;" value="" placeholder="john@doe.com">
                    </div>
                    
                    <div class="container c-border c-hover" style="padding:5px;margin:10px" id="users_reload">
                        <span class="material-symbols-rounded" style="font-size:16px;pointer-events:none">autorenew</span>
                    </div>
                    <div class="container c-border c-hover" style="padding:5px;margin:10px" id="users_search">
                        <span class="material-symbols-rounded" style="font-size:16px;pointer-events:none">search</span>
                    </div>
                    <div class="container c-border c-hover" style="padding:5px;margin:10px" id="users_clearfilter">
                        <span class="material-symbols-rounded" style="font-size:16px;pointer-events:none">backspace</span>
                    </div>
                    
                </div>
                
            </div>
            <div id="allUsers" style="width:66%">

            </div>
        </div>
        
    </div>
    <div class="blockitem" data-partof="usermanage" data-num="2" style="width:100%;display:none">
        <div style="display:inline-flex;justify-content:space-between;width:88%">
            <div style="width:20%;text-align:left">
                <span class="text">Roles</span>
                <div class="container c-border c-hover" style="padding:5px;margin:5px" id="role_add">
                    <span class="material-symbols-rounded" style="font-size:16px;pointer-events:none">add</span>
                </div>
                <div id="roleList" style="margin-top:10px">

                </div>
                
            </div>
            <div style="width:76%">
                <span class="text color-g" id="permission_placeholder">Please Select a Role to Edit...</span>
                <div class="container c-slightborder" style="width:90%;padding:20px;display:none" id="permissionViewer">
                    <div style="display:inline-flex;justify-content:space-between;width:100%">
                        <input type="text" class="text color-d input" style="display:inline-block;font-size:20px;width:70%;padding:10px;vertical-align:middle;" value="Member" placeholder="Role Name" id="permission_roleName">
                        <div style="display:inline-block;width:20%;">
                            <div style="display: inline-block;vertical-align:middle;width:20px;height:20px;border-radius:20px;background-color:red;margin-right:5px" id="permission_roleColor_preview">

                            </div>
                            <input type="text" class="text color-d input" style="display:inline-block;font-size:20px;width:80%;padding:10px;vertical-align:middle;" value="red" placeholder="Color" id="permission_roleColor">
                        </div>
                        
                        
                        
                    </div>
                    
                    
                    <div id="permissions" style="width: 100%;margin-top:20px;margin-bottom:20px;max-height:40vh;overflow-y:scroll">
                        
                    </div>
                    <div style="width:100%">
                        <div class="container c-border c-hover color-m" style="padding:10px 50px 10px 50px;margin:10px" id="permission_save">
                            Save
                        </div>
                        <div class="container c-border-gray color-g c-hover-gray" style="padding:10px 50px 10px 50px;margin:10px" id="permission_cancel">
                            Cancel
                        </div>
                        <div class="container c-border-red color-r c-hover-red" style="padding:10px 50px 10px 50px;margin:10px" id="permission_delete">
                            Delete
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>
    </div>
    <div class="blockitem" data-partof="usermanage" data-num="3" style="width:100%;display:none">
        <div style="display:inline-flex;justify-content:space-between;width:88%">
            <div style="width:30%;text-align:left">
                <span class="text">Subgroups</span>
                <div class="container c-border c-hover" style="padding:5px;margin:5px" id="subgroup_add">
                    <span class="material-symbols-rounded" style="font-size:16px;pointer-events:none">add</span>
                </div>
                <div id="subgroupList" style="margin-top:10px">

                </div>
            </div>
            
            <div style="width:66%">
                <span class="text color-g" id="subgroup_placeholder">Please Select a Subgroup to Edit...</span>
                <div class="container c-slightborder" style="width:90%;padding:20px;display:none" id="subgroupViewer">
                    <div style="display:inline-flex;justify-content:space-between;width:100%">
                        <input type="text" class="text color-d input" style="display:inline-block;font-size:20px;width:60%;padding:10px;vertical-align:middle;" value="" placeholder="Subgroup Name" id="subgroup_groupName">
                        <div style="display:inline-block;width:30%;text-align:right">
                            <input type="text" class="text color-d input" style="display:inline-block;font-size:20px;width:80%;padding:10px;vertical-align:middle;" value="" placeholder="Tag" id="subgroup_groupTag">
                        </div>
                        
                        
                        
                    </div>
                    
                    <div style="width: 100%;display:flex;justify-content:space-between;align-items:center;margin:10px 0px">
                        <div style="width:14%;">
                            <div class="c-border bounce blockcontrol" data-partof="manage_subgroup" data-num="0" style="border-radius: 60px;border-width:4px;background-color:#4708c4;width:4.5vw;height:4.5vw;display:inline-block;margin-bottom:10px;margin-top:20px">
                                <span class="material-symbols-rounded color-m" style="width:50%;margin-top:24%;font-size:2.3vw;color:white">home_repair_service</span>
                            </div>
                            <div class="c-border bounce blockcontrol" data-partof="manage_subgroup" data-num="1" style="border-radius: 60px;border-width:4px;background-color:transparent;width:4.5vw;height:4.5vw;display:inline-block;margin-bottom:10px">
                                <span class="material-symbols-rounded color-m" style="width:50%;margin-top:24%;font-size:2.3vw">admin_panel_settings</span>
                            </div>
                            <div class="c-border bounce blockcontrol" data-partof="manage_subgroup" data-num="2" style="border-radius: 60px;border-width:4px;background-color:transparent;width:4.5vw;height:4.5vw;display:inline-block;margin-bottom:20px">
                                <span class="material-symbols-rounded color-m" style="width:50%;margin-top:24%;font-size:2.3vw">flag</span>
                            </div>
                            
                        </div>
                        <div class="blockitem" data-partof="manage_subgroup" data-num="0" style="width: 84%">
                            <div id="features" style="width:100%;margin-top:10px;margin-bottom:20px;max-height:40vh;overflow-y:scroll;overflow-x:hidden">
                        
                            </div>
                        </div>  
                        <div class="blockitem" data-partof="manage_subgroup" data-num="1" style="width: 84%;display:none">
                            <div style="width:100%;margin-top:10px;margin-bottom:20px;max-height:40vh;overflow-y:scroll;overflow-x:hidden">
                                
                                <div style="width: 100%;margin-bottom:20px">
                                    <span class="text" style="display:inline-block;vertical-align:middle">Group Managers</span><br/>
                                    <span class="text" style="font-size:14px;font-weight:500;margin:10px 20px 15px 20px;display:block">These members can manage the settings of this group specifically, looking at all of the features. They are not allowed to view this page to overall configure this, or other subgroups.</span>
                                    <div style="border: 2px solid #4708c4;padding:20px;margin:10px;border-radius:20px;max-height:60px;overflow-y:scroll">
                                        <div style="display:inline-block;vertical-align:middle" id="subgroup_managers">

                                        </div>
                                        <div class="container c-border c-hover" style="padding:5px;margin:3px;vertical-align:middle" id="manager_add">
                                            <span class="material-symbols-rounded" style="font-size:14px;pointer-events:none">add</span>
                                        </div>
                                        
                                        
                                    </div>
                                </div>
                                <div class="checkbox transition permission" data-partof="subgroup_joinable" style="display:inline-block;vertical-align:middle;margin-right:10px" data-checked="NO">
                                
                                </div>
                                <span class="text" style="display:inline-block;vertical-align:middle" id="subgroup_joinable">Open to Join</span>
                                
                            </div>
                        </div>  
                        <div class="blockitem" data-partof="manage_subgroup" data-num="2" style="width: 84%;display:none">
                            <div style="width:100%;margin-top:10px;margin-bottom:20px;max-height:40vh;overflow-y:scroll;overflow-x:hidden">
                                <span class="text color-g" style="display:inline-block;vertical-align:middle"><i>No Outstanding Audit Items...</i></span>
                            </div>
                        </div>  
                        
                        
                    </div>
                   
                    <div style="width:100%">
                        <div class="container c-border c-hover color-m" style="padding:10px 50px 10px 50px;margin:10px" id="subgroup_save">
                            Save
                        </div>
                        <div class="container c-border-gray color-g c-hover-gray" style="padding:10px 50px 10px 50px;margin:10px" id="subgroup_cancel">
                            Cancel
                        </div>
                        <div class="container c-border-red color-r c-hover-red" style="padding:10px 50px 10px 50px;margin:10px" id="subgroup_delete">
                            Delete
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div id="overlayRes_add_manager" style="display: none;"></div>
</div>
<script>
    Array.from(document.getElementsByClassName("mainlogo")).forEach(e => {
        if(!e.classList.contains("logospin")){
            e.classList.add("logospin");
        }
        
    })
    
    var allUsers = [];
    var subgroups = [];
    var currentRole = "";
    var currentSubgroup = "";
    var roles = [];
    var roleAction = "";
    var subgroupAction = "";

    var features = [{
        name: "Special Attendance",
        code: "special_attendance",
        description: "This subgroup can set when they are meeting overall in the meeting system, in case they have an altered schedule from the rest of the group."
    },
    {
        name: "Announcement Channel",
        code: "announcements",
        description: "This subgroup can post announcements to its members that will show up as push notifications."
    },
    {
        name: "Pages",
        code: "pages",
        description: "This subgroup can create special pages for their subgroup members and other outsides to view."
    }]

    var permissionList = [{
        name: "Administrator",
        code: "*",
        description: "This permission gives this role or user full access to everything inside of the group, including the management of other roles!"
    },
    {
        name: "Representative",
        code: "ADMIN_REPRESENTATIVE",
        description: "This permission designates this role or user as a representative of the group, able to be contacted by the site administrators. They will be able to respond to contacts from outside of the group."
    },
    {
        name: "Manage Landing Page",
        code: "ADMIN_LANDING",
        description: "This permission allows the role or user to manage the content of the landing page, including creating, editing and deleting content."
    },
    {
        name: "Submit to Landing Page",
        code: "ADMIN_LANDING_CREATE",
        description: "This permission allows the role or user to only submit entries to the landing page, not being able to edit or delete any other pieces of content."
    },
    {
        name: "Manage QuickLinks",
        code: "ADMIN_QUICKLINKS",
        description: "This permission allows the role or user to manage all Quicklinks, including creating, editing, and deleting links."
    },
    {
        name: "Submit QuickLinks",
        code: "ADMIN_QUICKLINKS_CREATE",
        description: "This permission allows the role or user to only create QuickLinks, not being able to edit or delete any other QuickLinks."
    },
    {
        name: "Public QuickLinks",
        code: "ADMIN_QUICKLINKS_PUBLIC",
        description: "This permission allows the role or user to create QuickLinks that are public. Being able to create QuickLinks alone does not automatically apply this permission."
    },
    {
        name: "Manage Meeting Schedule",
        code: "ADMIN_SCHEDULE",
        description: "This permission allows the role or user to have full control over the group's meeting and event schedule, including creating, editing, and deleting events"
    },
    {
        name: "See Meeting Schedule",
        code: "VIEW_SCHEDULE",
        description: "This permission allows the role or user to see the group's meeting schedule in its entirety, including all events and meetings (unless further restricted by custom permissions)."
    },
    {
        name: "Sign In to Meeting",
        code: "VIEW_SCHEDULE_SIGNIN",
        description: "This permission allows the role or user to sign in for attendence, but only to meetings that they are apart of."
    },
    {
        name: "View Own Attendence",
        code: "VIEW_SCHEDULE_ATTENDENCE",
        description: "This permission allows the role or user to see their own attendence, including any history or alterations that were made."
    },
    {
        name: "View Everyone's Attendence",
        code: "VIEW_SCHEDULE_ATTENDENCE_ALL",
        description: "This permission allows the role or user to see everyone's attendence, including any history or alterations that were made."
    },
    {
        name: "Confirm Everyone's Attendence",
        code: "ADMIN_SCHEDULE_ATTENDENCE_CONFIRM",
        description: "This permission allows the role or user to confirm another user's attendence, only if it is already unconfirmed."
    },
    {
        name: "Manage Everyone's Attendence",
        code: "ADMIN_SCHEDULE_ATTENDENCE",
        description: "This permission allows the role or user to manage everyone's attendence records, making any changes that are incorrectly logged."
    },
    {
        name: "Global Subgroup Manager",
        code: "ADMIN_SUBGROUPS_MANAGER",
        description: "This permission automatically specifies the user as a irremovable subgroup manager to every subgroup, meaning they can manage the specific features of the subgroup."
    },
    ]
    

    permissionList.forEach(pI => {
        document.getElementById("permissions").innerHTML += `
        <div style="margin:10px;display:inline-flex;width:80%;justify-content:space-between;align-items:center">
            <div style="width:10%;display:inline-block;vertical-align:middle;">
                <div class="checkbox transition permission" data-partof="${pI.code}" style="display:inline-block;vertical-align:middle;" data-checked="NO">
                                
                </div>
            </div>
            
            <div style="width:90%;display:inline-block;vertical-align:middle;">
                <span class="text" style="font-size:16px;vertical-align:middle;font-weight:800">${pI.name}</span>   <span class="text" style="font-size:16px;vertical-align:middle;font-weight:500"><i>(${pI.code})</i></span><br/>
                <span class="text" style="font-size:14px;vertical-align:middle;font-weight:500">${pI.description}</span>
                
            </div>
        </div>
        `;
    })

    features.forEach(f => {
        document.getElementById("features").innerHTML += `
        <div style="margin:10px;width:80%;display:inline-flex;justify-content:space-between;align-items:center">
            <div class="checkbox transition feature" data-partof="${f.code}" style="display:inline-block;vertical-align:middle;margin-right:20px" data-checked="NO">
                                
            </div>
            <div>
                <div style="width:100%;display:flex;vertical-align:middle;justify-content:center">
                
                    <span class="text" style="font-size:16px;vertical-align:middle;font-weight:800;width:100%">${f.name}</span>
                </div>
                
                <div style="width:100%;display:flex;vertical-align:middle;margin:5px">
                    
                    <span class="text" style="font-size:14px;vertical-align:middle;font-weight:500">${f.description}</span>
                    
                </div>
            </div>
            
        </div>
        `;
    })

    var managers_copy = [];

    function reshowManagers(){
        var mN = 0;
        document.getElementById("subgroup_managers").innerHTML = "";
        managers_copy.forEach(m => {
            //currentSubgroup.managers.forEach(m => {
                                
            document.getElementById("subgroup_managers").innerHTML += `
                <div class="container c-border manager" style="padding: 5px 10px;background-color:#4708c4;display:inline-flex;align-items:center;margin:3px" data-num="${mN}" data-id="${m["id"]}">
                    <div class="removemanager" style="display:inline-block" data-num="${mN}" data-id="${m["id"]}">
                        <span class="material-symbols-rounded color-m" style="color:white;font-size:14px;margin-right:5px" data-num="${mN}" data-id="${m["id"]}">cancel</span>
                    </div>
                    
                    <span class="color-w" style="font-size:12px">${m["username"]}</span>
                </div>
            `;
            mN += 1;
        })
        Array.from(document.getElementsByClassName("removemanager")).forEach(e => {
            e.addEventListener("click", function(evt){
                

                var num = parseInt(evt.srcElement.dataset.num);
                console.log(num);
                console.log(managers_copy);
                managers_copy.splice(num, 1);
                reshowManagers();
                
            })
        });
    }

    document.getElementById("manager_add").addEventListener("click", function(){
        document.getElementById("externalClickAction").dataset.action = "overlay";
        document.getElementById("externalClickAction").dataset.overlay = "add_manager";
        document.getElementById("externalClickAction").click();
    })

    document.getElementById("overlayRes_add_manager").addEventListener("click", function(evt){
        var data = evt.srcElement.innerHTML.split(";");
        console.log(data)
        var name = data[0].split("=")[1];
        var id = data[1].split("=")[1];
        managers_copy.push({
            username: name,
            id: id
        });
        reshowManagers(); 
    });

    function refreshGroups(){
        $.ajax({
            url: "/group/subgroups",
            success: function(data){
                data = JSON.parse(data);
                if(data["successful"]){
                    subgroups = data["items"];
                    document.getElementById("subgroupList").innerHTML = "";
                    var sN = 0;
                    subgroups.forEach(s => {
                        document.getElementById("subgroupList").innerHTML += `
                        <div class="container c-border c-hover selectgroup" data-num="${sN}" style="padding:10px 30px;width:60%;margin:5px;text-align:center;cursor:pointer;font-size:14px;font-weight:600">
                            ${s.name} [${s.tag.toUpperCase()}]
                        </div>
                        `;
                        sN += 1;
                    })
                    Array.from(document.getElementsByClassName("selectgroup")).forEach(e => {
                        e.addEventListener("click", function(evt){
                            var num = parseInt(evt.srcElement.dataset.num);
                            var group = subgroups[num];
                            currentSubgroup = group;
                            subgroupAction = "edit";
                            document.getElementById("subgroup_delete").style.display = "";
                            document.getElementById("subgroup_joinable").dataset.checked = group.joinable ? "YES" : "NO";
                            document.getElementById("subgroup_joinable").style.backgroundColor = group.joinable ? "#4708c4" : "#ffffff";

                            managers_copy = [];
                            group.managers.forEach(m => {
                                var userObj = allUsers.find(u => u.id == m);
                                managers_copy.push({
                                    username: userObj["username"],
                                    id: userObj["id"]
                                });
                            })
                            
                            
                            reshowManagers();
                            Array.from(document.getElementsByClassName("feature")).forEach(e => {
                                e.dataset.checked = "NO";
                                e.style.backgroundColor = "#ffffff";
                            })
                            
                            group.features.forEach(f => {
                                document.querySelector(`.feature[data-partof="${f}"]`).dataset.checked = "YES";
                                document.querySelector(`.feature[data-partof="${f}"]`).style.backgroundColor = "#4708c4";
                            });
                            document.getElementById("subgroup_groupName").value = group.name;
                            document.getElementById("subgroup_groupTag").value = group.tag;
                            document.getElementById("subgroupViewer").style.display = "";
                            document.getElementById("subgroup_placeholder").style.display = "none";
                            

                            Array.from(document.querySelectorAll(".selectgroup")).forEach(e => {
                                console.log(e.dataset.num + " " + num)
                                if(parseInt(e.dataset.num) == num){
                                    e.style.backgroundColor = e.dataset.tocolor == undefined ? "#4708c4" : e.dataset.tocolor;
                                    e.style.color = "white"
                                    try{
                                        e.children[0].style.color = "white";
                                    }catch(e){

                                    }
                                    
                                }else{
                                    e.style.backgroundColor = "";
                                    e.style.color = "";
                                    try{
                                        e.children[0].style.color = e.dataset.tocolor == undefined ? "" : e.dataset.tocolor;
                                    }catch(e){

                                    }
                                    
                                }
                            });
                        });
                    });
                }
            },
            error: function(data){
                document.getElementById("showErrorMessage").click();
            }
        })
    }
    function refreshPermissions(){
        $.ajax({
            url: "/group/roles",
            success: function(data){
                data = JSON.parse(data);
                if(data["successful"]){
                    roles = data["items"];

                    document.getElementById("roleList").innerHTML = "";
                    var rN = 0;
                    roles.forEach(r => {
                        document.getElementById("roleList").innerHTML += `
                            <div class="container c-border selectrole" data-num="${rN}" data-toColor="${r.color}" style="padding:10px 30px;width:60%;margin:5px;text-align:center;cursor:pointer;border:2px solid ${r.color}">
                                <span class="text" style="font-size:14px;pointer-events:none;color:${r.color}">${r.name.toUpperCase()}</span>
                            </div>
                        `;
                        rN += 1;
                    });

                    Array.from(document.getElementsByClassName("showrole")).forEach(e => {
                        var name = e.dataset.role;
                        var role = roles.find(r => r.name == name);
                        if(role != undefined){
                            e.style.backgroundColor = role.color;
                            e.style.borderColor = role.color;
                            e.children[0].innerHTML = role.name.toUpperCase();
                        }else{
                            e.style.backgroundColor = "gray";
                            e.style.borderColor = "gray";
                            e.children[0].innerHTML = "???";
                        }
                    })

                    Array.from(document.getElementsByClassName("selectrole")).forEach(e => {
                        e.addEventListener("click", function(evt){
                            var num = parseInt(evt.srcElement.dataset.num);
                            roleAction = "edit";
                            var role = roles[num];
                            currentRole = role;
                            document.getElementById("permission_delete").style.display = "";
                            document.getElementById("permission_roleName").value = role.name;
                            document.getElementById("permission_roleColor").value = role.color;
                            document.getElementById("permissionViewer").style.display = "";
                            document.getElementById("permission_placeholder").style.display = "none";
                            document.getElementById("permission_roleColor_preview").style.backgroundColor = role.color;


                            Array.from(document.getElementsByClassName("permission")).forEach(e => {
                                e.dataset.checked = "NO";
                                e.style.backgroundColor = "white";
                            });
                            role.permissions.forEach(p => {
                                if(document.querySelector(".permission[data-partof='" + p + "']") != null){
                                    document.querySelector(".permission[data-partof='" + p + "']").dataset.checked = "YES";
                                    document.querySelector(".permission[data-partof='" + p + "']").style.backgroundColor = "#4708c4";
                                }
                                
                            })

                            Array.from(document.querySelectorAll(".selectrole")).forEach(e => {
                                if(e.dataset.num == num){
                                    e.style.backgroundColor = e.dataset.tocolor == undefined ? "#4708c4" : e.dataset.tocolor;;
                                    e.children[0].style.color = "white";
                                }else{
                                    e.style.backgroundColor = "";
                                    e.children[0].style.color = e.dataset.tocolor == undefined ? "" : e.dataset.tocolor;;
                                }
                            });
                        });
                    });
                    
                }
            },
            error: function(data){
                document.getElementById("showErrorMessage").click();
            }
        })
    }
    function refreshUsers(){
        $.ajax({
            url: "/group/users",
            
            success: function(data){
                data = JSON.parse(data);
                if(data["successful"]){
                    
                    console.log(data);
                    document.getElementById("allUsers").innerHTML = "";
                    allUsers = data["items"];
                    roles = data["roles"];
                    console.log(roles);
                    allUsers.forEach(u => {
                        var exists = !(roles.find(r => r["name"] == u["access"]["role"]) == undefined);
                        var color = !exists ? "gray" : roles.find(r => r["name"] == u["access"]["role"])["color"];
                        document.getElementById("allUsers").innerHTML += `
                            <div class="container c-slightborder" style="width:100%;padding:20px;margin-bottom:10px;">
                                <div class="blockitem" data-partof="u_${u["id"]}" data-num="0" style="width:100%">
                                    <div style="display:inline-flex;justify-content:space-between;align-items:center;width:100%">
                                        <div style="width:16%;text-align:left">
                                            <div>
                                                <span class="text color-d" style="pointer-events: none;margin-left:10px;font-size:14px;display:block">${u["username"]}</span>
                                                <span style="pointer-events: none;margin-left:10px;font-size:10px;display:block">Person's Name</span>
                                            </div>
                                            
                                        </div>
                                        <div style="width:20%;text-align:left"">
                                            <div class="container c-border showrole" style="padding:5px 20px;background-color:${color};border:2px solid ${color}" data-role="${u["access"]["role"]}">
                                                <span class="color-w" style="font-size:12px">${exists ? u["access"]["role"].toUpperCase() : "???"}</span>
                                                
                                            </div>
                                        </div>
                                        <div style="width:28%;text-align:left;">
                                            ${
                                                u["email"] == undefined ? `
                                                <span style="pointer-events: none;margin-left:10px"><i>Email Not Found</i></span>
                                                ` : `
                                                <div class="blockitem" data-partof="u_${u.id}_email" data-num="0">
                                                    <div style="display:inline-flex;justify-content:space-between;width:100%;align-items:center">
                                                        <span style="pointer-events: none;margin-left:10px;font-size:12px">*******@${u["email"].split("@")[1]}</span>
                                                        <div class="container c-border c-hover blockcontrol" style="padding:5px;margin:1px" data-partof="u_${u.id}_email" data-num="1">
                                                            <span class="material-symbols-rounded" style="font-size:16px">visibility</span>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                                <div class="blockitem" data-partof="u_${u.id}_email" data-num="1" style="display:none;">
                                                    <div style="display:inline-flex;justify-content:space-between;width:100%;align-items:center">
                                                        <span style="pointer-events: none;margin-left:10px;font-size:12px">${u["email"]}</span>
                                                        <div class="container c-border c-hover blockcontrol" style="padding:5px;margin:1px" data-partof="u_${u.id}_email" data-num="0">
                                                            <span class="material-symbols-rounded" style="font-size:16px">visibility_off</span>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                                `
        
        
                                            }
                                            
                                            
                                        </div>
                                        <div style="width:16%;text-align:right">
                                            <div class="container c-border c-hover blockcontrol" style="padding:5px;margin:1px" data-partof="u_${u.id}" data-num="1">
                                                <span class="material-symbols-rounded" style="font-size:16px;pointer-events:none">edit</span>
                                            </div>
                                            <div class="container c-border c-hover" style="padding:5px;margin:1px" data-partof="u_${u.id}">
                                                <span class="material-symbols-rounded" style="font-size:16px">delete</span>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="blockitem" data-partof="u_${u["id"]}" data-num="1" style="width:100%;display:none">
                                    <div style="display:inline-flex;justify-content:space-between;align-items:center;width:100%">
                                        <div style="width:50%;text-align:left">
                                            <input type="text" class="text color-d input" style="display:inline-block;font-size:16px;margin:5px;padding:14px;vertical-align:middle;text-align:left;width:100%" value="${u["username"]}" placeholder="Username">
                                            
                                        </div>
                                        <div style="width:16%;text-align:right">
                                            <div class="container c-border c-hover blockcontrol" style="padding:5px;margin:1px" data-partof="u_${u.id}" data-num="0">
                                                <span class="material-symbols-rounded" style="font-size:16px;pointer-events:none">check</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="display:flex;justify-content:space-between;align-items:center;width:100%">
                                        <div style="margin:20px;width:50%">
                                            <div style="display:flex;justify-content:space-between;align-items:center;width:100%;">
                                                <span class="text color-d" style="font-size:14px;font-weight:500;margin-right:5px;">Full Name</span>
                                                <input type="email" class="text color-d input" style="display:inline-block;font-size:16px;margin:5px;padding:14px;vertical-align:middle;text-align:left;width:60%" value="John Doe" placeholder="John Doe">
                                            </div>
                                            <div style="display:flex;justify-content:space-between;align-items:center;width:100%;">
                                                <span class="text color-d" style="font-size:14px;font-weight:500;margin-right:5px;">Email Address</span>
                                                <input type="email" class="text color-d input" style="display:inline-block;font-size:16px;margin:5px;padding:14px;vertical-align:middle;text-align:left;width:60%" value="${u["email"]}" placeholder="john.doe@company.com">
                                            </div>
                                        </div>
                                        <div style="width:40%">
                                            <span class="text color-d" style="font-size:16px;margin:5px;display:block">A Part of Subgroups:</span>
                                            <div style="border: 2px solid #4708c4;padding:20px;margin:10px;border-radius:20px;max-height:60px;overflow-y:scroll">
                                                <div style="display:inline-block;vertical-align:middle">
        
                                                </div>
                                                <div class="container c-border c-hover" style="padding:5px;margin:3px;vertical-align:middle" data-partof="add_subgroup" id="subgroup_attend_add">
                                                    <span class="material-symbols-rounded" style="font-size:14px;pointer-events:none">add</span>
                                                    
                                                    
                                                </div>
                                                
                                                
                                            </div>
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                            </div>
                            `;
                        
                    });
                    Array.from(document.getElementsByClassName("blockcontrol")).forEach(e => {
                        e.addEventListener("click", function(evt) {
                            var num = evt.srcElement.dataset.num;
                            var partof = evt.srcElement.dataset.partof;
                            var toColor = evt.srcElement.dataset.toColor;
                            console.log(toColor);
                
                            Array.from(document.querySelectorAll(".blockitem[data-partof='" + partof + "']")).forEach(e => {
                                if(e.dataset.num == num){
                                    e.style.display = "block";
                                }else{
                                    e.style.display = "none";
                                }
                            });
                
                            Array.from(document.querySelectorAll(".blockcontrol[data-partof='" + partof + "']")).forEach(e => {
                                if(e.dataset.num == num){
                                    e.style.backgroundColor = e.dataset.tocolor == undefined ? "#4708c4" : e.dataset.tocolor;
                                    e.children[0].style.color = "white";
                                }else{
                                    e.style.backgroundColor = "";
                                    e.children[0].style.color = e.dataset.tocolor == undefined ? "" : e.dataset.tocolor;
                                }
                            });
                        });
                    });
                    


                }
                document.getElementById("contentToShow").style.opacity = "1";
                Array.from(document.getElementsByClassName("mainlogo")).forEach(e => {
                    if(e.classList.contains("logospin")){
                        e.classList.remove("logospin");
                    }
                    
                })
                refreshPermissions();
                refreshGroups();
            },
            error: function(data){
                document.getElementById("showErrorMessage").click();
            }
        })
    }
    refreshUsers();
    

    document.getElementById("permission_roleColor").addEventListener("change", function(evt){
        var color = evt.srcElement.value;
        document.getElementById("permission_roleColor_preview").style.backgroundColor = color;
    })


    document.getElementById("users_reload").addEventListener("click", function(evt){
        refreshUsers();
    
    })

    document.getElementById("permission_roleName").addEventListener("change", function(){
        document.getElementById("permission_roleName").value = document.getElementById("permission_roleName").value.toLowerCase();
    })
    document.getElementById("permission_roleName").addEventListener("keydown", function(){
        document.getElementById("permission_roleName").value = document.getElementById("permission_roleName").value.toLowerCase();
    })
    document.getElementById("permission_save").addEventListener("click", function(evt){
        document.getElementById("permission_placeholder").style.display = "";
        document.getElementById("permissionViewer").style.display = "none";
        if(roleAction == "edit"){
            var e = document.querySelector(".selectrole[data-num='" + (roles.indexOf(currentRole)) + "']");
            e.style.backgroundColor = "";
            e.children[0].style.color = e.dataset.tocolor == undefined ? "" : e.dataset.tocolor;
            // do saving here
            
            currentRole.oldName = currentRole.name;
            currentRole.name = document.getElementById("permission_roleName").value;
            currentRole.color = document.getElementById("permission_roleColor").value;

            var permissions = [];
            Array.from(document.querySelectorAll(".permission")).forEach(e => {
                if(e.dataset.checked == "YES"){
                    permissions.push(e.dataset.partof);
                }
            });
            currentRole.permissions = permissions;
            currentRole.action = "edit";

            $.ajax({
                url: "/group/role",
                type: "POST",
                data: currentRole,
                success: function(data){
                    refreshPermissions();
                }
            })



        }else if(roleAction == "create"){

            var permissions = [];
            Array.from(document.querySelectorAll(".permission")).forEach(e => {
                if(e.dataset.checked == "YES"){
                    permissions.push(e.dataset.partof);
                }
            });
            var newRole = {
                name: document.getElementById("permission_roleName").value,
                color: document.getElementById("permission_roleColor").value,
                permissions: permissions,
                action: "create"
            }

            $.ajax({
                url: "/group/role",
                type: "POST",
                data: newRole,
                success: function(data){
                    refreshPermissions();
                }
            })

        }
        
    })

    Array.from(document.getElementsByClassName("checkbox")).forEach(e => {
        e.addEventListener("click", function(evt){
            if(evt.srcElement.dataset.checked == "NO"){
                evt.srcElement.style.backgroundColor = "#4708c4";
                evt.srcElement.dataset.checked = "YES";
            }else{
                evt.srcElement.style.backgroundColor = "white";
                evt.srcElement.dataset.checked = "NO";
            }
        });
    });
    document.getElementById("permission_delete").addEventListener("click", function(evt){
        document.getElementById("permission_placeholder").style.display = "";
        document.getElementById("permissionViewer").style.display = "none";
        var e = document.querySelector(".selectrole[data-num='" + (roles.indexOf(currentRole)) + "']");
        e.style.backgroundColor = "";
        e.children[0].style.color = e.dataset.tocolor == undefined ? "" : e.dataset.tocolor;

        $.ajax({
            url: "/group/role",
            type: "POST",
            data: {
                name: currentRole.name,
                action: "delete"
            },
            success: function(data){
                refreshPermissions();
            }
        })
    })
    document.getElementById("permission_cancel").addEventListener("click", function(evt){
        document.getElementById("permission_placeholder").style.display = "";
        document.getElementById("permissionViewer").style.display = "none";
        var e = document.querySelector(".selectrole[data-num='" + (roles.indexOf(currentRole)) + "']");
        e.style.backgroundColor = "";
        e.children[0].style.color = e.dataset.tocolor == undefined ? "" : e.dataset.tocolor;
        
        
    })

    document.getElementById("subgroup_save").addEventListener("click", function(evt){
        document.getElementById("subgroup_placeholder").style.display = "";
        document.getElementById("subgroupViewer").style.display = "none";
        if(subgroupAction == "edit"){
            currentSubgroup.oldName = currentSubgroup.name;
            currentSubgroup.name = document.getElementById("subgroup_groupName").value;
            currentSubgroup.action = "edit";
            currentSubgroup.features = [];

            Array.from(document.getElementsByClassName("feature")).forEach(e => {
                if(e.dataset.checked == "YES"){
                    currentSubgroup.features.push(e.dataset.partof);
                }
            })
            currentSubgroup.managers = []
            managers_copy.forEach(m => {
                currentSubgroup.managers.push(m.id);
            });
            currentSubgroup.joinable = document.getElementById("subgroup_joinable").dataset.checked == "YES" ? true : false;
            currentSubgroup.tag = document.getElementById("subgroup_groupTag").value;

            $.ajax({
                url: "/group/subgroup",
                type: "POST",
                data: currentSubgroup,
                success: function(data){
                    refreshGroups();
                }
            })
        }else if(subgroupAction == "create"){
            currentSubgroup.name = document.getElementById("subgroup_groupName").value;
            currentSubgroup.action = "create";
            currentSubgroup.features = [];

            Array.from(document.getElementsByClassName("feature")).forEach(e => {
                if(e.dataset.checked == "YES"){
                    currentSubgroup.features.push(e.dataset.partof);
                }
            })
            currentSubgroup.managers = []
            managers_copy.forEach(m => {
                currentSubgroup.managers.push(m.id);
            });
            currentSubgroup.joinable = document.getElementById("subgroup_joinable").dataset.checked == "YES" ? true : false;
            currentSubgroup.tag = document.getElementById("subgroup_groupTag").value;

            $.ajax({
                url: "/group/subgroup",
                type: "POST",
                data: currentSubgroup,
                success: function(data){
                    refreshGroups();
                }
            })
        }
        
        
        
    })


    document.getElementById("subgroup_cancel").addEventListener("click", function(evt){
        document.getElementById("subgroup_placeholder").style.display = "";
        document.getElementById("subgroupViewer").style.display = "none";
        var e = document.querySelector(".selectgroup[data-num='" + (subgroups.indexOf(currentSubgroup)) + "']");
        e.style.backgroundColor = "";
        e.style.color = "";
        e.children[0].style.color = e.dataset.tocolor == undefined ? "" : e.dataset.tocolor;
        
        
    })

    document.getElementById("role_add").addEventListener("click", function(evt){
        roleAction = "create";
        document.getElementById("permission_delete").style.display = "none";
        document.getElementById("permission_roleName").value = "";
        document.getElementById("permission_roleColor").value = "";
        document.getElementById("permissionViewer").style.display = "";
        document.getElementById("permission_placeholder").style.display = "none";
        document.getElementById("permission_roleColor_preview").style.backgroundColor = "white";

        if(currentRole != ""){
            var e = document.querySelector(".selectrole[data-num='" + (roles.indexOf(currentRole)) + "']");
            e.style.backgroundColor = "";
            e.children[0].style.color = e.dataset.tocolor == undefined ? "" : e.dataset.tocolor;
        }

        Array.from(document.getElementsByClassName("permission")).forEach(e => {
            e.dataset.checked = "NO";
            e.style.backgroundColor = "white";
        });
    });
    document.getElementById("subgroup_add").addEventListener("click", function(evt){
        subgroupAction = "create";
        document.getElementById("subgroup_delete").style.display = "";
        document.getElementById("subgroup_joinable").dataset.checked = "NO";
        document.getElementById("subgroup_joinable").style.backgroundColor = "#ffffff";

        managers_copy = [];
        
        
        reshowManagers();
        Array.from(document.getElementsByClassName("feature")).forEach(e => {
            e.dataset.checked = "NO";
            e.style.backgroundColor = "#ffffff";
        })
        
        document.getElementById("subgroup_groupName").value = "";
        document.getElementById("subgroup_groupTag").value = "";
        document.getElementById("subgroupViewer").style.display = "";
        document.getElementById("subgroup_placeholder").style.display = "none";

        Array.from(document.querySelectorAll(".selectgroup")).forEach(e => {
                                
            e.style.backgroundColor = "";
            e.style.color = ""; 
            e.children[0].style.color = e.dataset.tocolor == undefined ? "" : e.dataset.tocolor;
        });
    });


    Array.from(document.getElementsByClassName("blockcontrol")).forEach(e => {
        e.addEventListener("click", function(evt) {
            var num = evt.srcElement.dataset.num;
            var partof = evt.srcElement.dataset.partof;

            Array.from(document.querySelectorAll(".blockitem[data-partof='" + partof + "']")).forEach(e => {
                if(e.dataset.num == num){
                    e.style.display = "block";
                }else{
                    e.style.display = "none";
                }
            });

            Array.from(document.querySelectorAll(".blockcontrol[data-partof='" + partof + "']")).forEach(e => {
                if(e.dataset.num == num){
                    e.style.backgroundColor = "#4708c4";
                    e.children[0].style.color = "white";
                }else{
                    e.style.backgroundColor = "";
                    e.children[0].style.color = "";
                }
            });
        });
    });
</script>