
<div class="transition" style="display: inline-block;width:100%;z-index:20;height:100%" id="contentToShow">
    <div style="display:flex;width:100%;justify-content:space-around">
        <div class="showoptions" style="width:30%">
            <div class="container c-slighterborder" style="padding:20px;width:100%" id="slideProperties">
                <span class="text" style="padding-bottom: 10px">Slide Properties</span></br>

                <div style="margin: 3px;">
                    <div style="display:inline-block;text-align:left;width:80px">
                        <span class="text color-d" style="font-size:14px;font-weight:500;margin-right:5px;">Background</span>
                    </div>
                    <div style="width: 60%;display:inline-block;text-align:right">
                        <input type="text" class="text color-d input slideedit" data-property="backgroundColor" style="display:inline-block;font-size:16px;margin:3px;width:80%;padding:10px;vertical-align:middle;text-align:center" value="#000000" placeholder="HEX">
                    </div>
                    
                </div>
                
            </div>
            <div id="elementProperties" style="display: none;">
                
                <div id="elementAnimations">
                    
                </div>
                
            </div>
            
            <div class="container c-border c-hover color-m" style="padding:10px 50px 10px 50px;margin:5px" id="savePresentation">
                <span style="pointer-events: none">Save</span>
            </div>
        </div>
        <div class="presentation" style="width:60%">
            <div style="width:100%">
                <div class="blockitem slide" data-partof="slides" data-num="1" style="width:100%;border:2px solid black; border-radius:4px;overflow:hidden;aspect-ratio:16 / 9">

                </div>
                <div class="blockitem slide" data-partof="slides" data-num="2" style="width:100%;border:2px solid black; border-radius:4px;overflow:hidden;aspect-ratio:16 / 9;display:none">

                </div>
            </div>
            
            <div id="selectionbox" style="position:absolute;border:4px solid red;display:none;top:0;left:0" draggable="true"></div>
            <div style="display:flex;justify-content:left;width:100%">
                <div class="container c-border c-hover color-m blockcontrol" data-partof="slides" data-num="1" style="padding:10px 20px 10px 20px;margin:5px">
                    <span style="pointer-events: none">1</span>
                </div>
                <div class="container c-border c-hover color-m blockcontrol" data-partof="slides" data-num="2" style="padding:10px 20px 10px 20px;margin:5px">
                    <span style="pointer-events: none">2</span>
                </div>
                <div style="display: inline-flex;align-items: center;justify-content:center">
                    <div class="container c-border dropdown form_actiontype" data-partof="slideAnim" style="cursor:pointer;display:inline-block;vertical-align:middle;width:200px" data-value="">
                        <span class="dropdown_text" style="float:left;margin-right:20px;opacity:0.5;margin-left:5px;pointer-events:none" data-partof="slideAnim">Select an Option</span>
                        <span class="material-symbols-rounded color-d dropdown_icon" style="float:right;font-size:20px" data-partof="slideAnim">expand_more</span>
                        <option class="dropdown_option" data-partof="slideAnim" value="-3">Starting Pos.</option>
                        <option class="dropdown_option" data-partof="slideAnim" value="-2">On Slide Show</option>
                        <option class="dropdown_option" data-partof="slideAnim" value="-1">Ending Pos.</option>
                        
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>
    <div class="allItems" style="display:flex;justify-content:left;margin:10px;margin-top:20px;">
        <div class="item" style="border: 6px solid black;width:60px;height:60px;margin:10px;background-color:black" data-border="6px solid black" data-background="black" draggable="true">
            
        </div>
        <div class="item" style="border: 6px solid black;width:60px;height:60px;border-radius:8px;margin:10px;background-color:black" data-border="6px solid black" data-background="black" draggable="true">
            
        </div>
    </div>
    <!-- <div class="container c-slighterborder" style="padding:20px;width:100%;margin-bottom:10px">
                        <div class="blockitem" data-partof="anim_0" data-num="0">
                            <div style="display:flex;justify-content:space-between;align-items:center">
                                <div class="container c-border c-hover color-m blockcontrol" data-partof="anim_0" data-num="1" style="padding:5px 5px 5px 5px;margin:5px;vertical-align:center">
                                    <span style="pointer-events: none" class="material-symbols-rounded">chevron_right</span>
                                </div>
                                
                                <span class="text" style="vertical-align:center">Animation #0</span></br>
                            </div>
                        </div>
                        <div class="blockitem" data-partof="anim_0" data-num="1" style="display:none">
                            <div style="display:flex;justify-content:space-between;align-items:center">
                                <div class="container c-border c-hover color-m blockcontrol" data-partof="anim_0" data-num="0" style="padding:5px 5px 5px 5px;margin:5px;vertical-align:center">
                                    <span style="pointer-events: none" class="material-symbols-rounded">expand_more</span>
                                </div>
                                <span class="text" style="vertical-align:center">Animation</span><input type="number" class="input text color-d" placeholder="#" style="width:80px;text-align:center" value="0"/>
                            </div>
                            
            
                            <div style="margin: 3px;">
                                <div style="display:inline-block;text-align:left;width:80px">
                                    <span class="text color-d" style="font-size:14px;font-weight:500;margin-right:5px;">Background</span>
                                </div>
                                <div style="width: 60%;display:inline-block;text-align:right">
                                    <input type="text" class="text color-d input propertyedit" data-property="backgroundColor" style="display:inline-block;font-size:16px;margin:3px;width:80%;padding:10px;vertical-align:middle;text-align:center" value="#000000" placeholder="HEX">
                                </div>
                                
                            </div>
                            <div style="margin: 3px;">
                                <div style="display:inline-block;text-align:left;width:80px">
                                    <span class="text color-d" style="font-size:14px;font-weight:500;margin-right:5px;">Border</span>
                                </div>
                                <div style="width: 60%;display:inline-block;text-align:right">
                                    <input type="text" class="text color-d input propertyedit" data-property="borderWidth" style="display:inline-block;font-size:16px;margin:3px;width:20%;padding:10px;vertical-align:middle;text-align:center" value="0" placeholder="#">
                                    <input type="text" class="text color-d input propertyedit" data-property="borderColor" style="display:inline-block;font-size:16px;margin:3px;width:50%;padding:10px;vertical-align:middle;text-align:center" value="#000000" placeholder="HEX">
                                </div>
                                
                            </div>
                            <div style="margin: 3px;">
                                <div style="display:inline-block;text-align:left;width:100px">
                                    <span class="text color-d" style="font-size:14px;font-weight:500;margin-right:5px;">Corner Rad.</span>
                                </div>
                                <div style="width: 56%;display:inline-block;text-align:right">
                                    <input type="text" class="text color-d input propertyedit" data-property="borderTopLeftRadius" style="display:inline-block;font-size:12px;margin:3px;width:20%;padding:10px;vertical-align:middle;text-align:center" value="0" placeholder="#">
                                    <input type="text" class="text color-d input propertyedit" data-property="borderTopRightRadius" style="display:inline-block;font-size:12px;margin:3px;width:20%;padding:10px;vertical-align:middle;text-align:center" value="0" placeholder="#">
                                    <input type="text" class="text color-d input propertyedit" data-property="borderBottomRightRadius" style="display:inline-block;font-size:12px;margin:3px;width:20%;padding:10px;vertical-align:middle;text-align:center" value="0" placeholder="#">
                                    <input type="text" class="text color-d input propertyedit" data-property="borderBottomLeftRadius" style="display:inline-block;font-size:12px;margin:3px;width:20%;padding:10px;vertical-align:middle;text-align:center" value="0" placeholder="#">
                                    
                                </div>
                                
                            </div>
                            <div style="margin: 3px;">
                                <div style="display:inline-block;text-align:left;width:80px">
                                    <span class="text color-d" style="font-size:14px;font-weight:500;margin-right:5px;">Size</span>
                                </div>
                                <div style="width: 60%;display:inline-block;text-align:right">
                                    <input type="text" class="text color-d input propertyedit" data-property="width" style="display:inline-block;font-size:16px;margin:3px;width:30%;padding:10px;vertical-align:middle;text-align:center" value="0" placeholder="#">
                                    x
                                    <input type="text" class="text color-d input propertyedit" data-property="height" style="display:inline-block;font-size:16px;margin:3px;width:30%;padding:10px;vertical-align:middle;text-align:center" value="0" placeholder="#">
                                </div>
                                
                            </div>
                            <div style="margin: 3px;">
                                <div style="display:inline-block;text-align:left;width:80px">
                                    <span class="text color-d" style="font-size:14px;font-weight:500;margin-right:5px;">Position</span>
                                </div>
                                <div style="width: 60%;display:inline-block;text-align:right">
                                    (
                                    <input type="text" class="text color-d input propertyedit" data-property="left" style="display:inline-block;font-size:16px;margin:3px;width:30%;padding:10px;vertical-align:middle;text-align:center" value="0" placeholder="#">
                                    ,
                                    <input type="text" class="text color-d input propertyedit" data-property="top" style="display:inline-block;font-size:16px;margin:3px;width:30%;padding:10px;vertical-align:middle;text-align:center" value="0" placeholder="#">
                                    )
                                </div>
                                
                            </div>
                        </div>
                        
                    </div> -->
</div>
<script>
    var offsetX = 10;
    var offsetY = -90;
    var mousePos = {
        x: 0,
        y: 0
    };
    var drag = {
        x: 0,
        y: 0,
        valid: false,
        offsetX: 0,
        offsetY: 0,
        item: null,
        dragType : null

    }
    var slidenum = 1;
    var elemId = 0;
    // -3 = START POS
    // -2 = GOTO
    // -1 = END POS
    var animationphase = -3;
    var animations = [];
    var currentSlide = document.querySelector(".slide[data-num='" + slidenum + "']");

    var selectedElement = null;
    var selectionBox = document.getElementById("selectionbox");

    function showCorrespondingAnimations(){
        var animationsToShow = animations.filter(a => a.id == selectedElement.dataset.id);
        document.getElementById("elementAnimations").innerHTML = "";
        animationsToShow.forEach(a => {
            var name = a.phase;
            if(a.phase == -3){
                name = "Starting Properties";
            }else if(a.phase == -2){
                name = "On Slide Show";
            }else if(a.phase == -1){
                name = "Ending Properties";
            }
            document.getElementById("elementAnimations").innerHTML += `
            <div class="container c-slighterborder animation" style="padding:20px;width:100%;margin-bottom:10px" data-animation="${a.phase}">
                <div class="blockitem" data-partof="anim_${a.phase}" data-num="0">
                    <div style="display:flex;justify-content:space-between;align-items:center">
                        <div class="container c-border c-hover color-m blockcontrol" data-partof="anim_${a.phase}" data-num="1" style="padding:5px 5px 5px 5px;margin:5px;vertical-align:center">
                            <span style="pointer-events: none" class="material-symbols-rounded">chevron_right</span>
                        </div>
                        
                        <span class="text" style="vertical-align:center">${name}</span></br>
                    </div>
                </div>
                <div class="blockitem" data-partof="anim_${a.phase}" data-num="1" style="display:none">
                    <div style="display:flex;justify-content:space-between;align-items:center">
                        <div class="container c-border c-hover color-m blockcontrol" data-partof="anim_${a.phase}" data-num="0" style="padding:5px 5px 5px 5px;margin:5px;vertical-align:center">
                            <span style="pointer-events: none" class="material-symbols-rounded">expand_more</span>
                        </div>
                        <span class="text" style="vertical-align:center">${name}</span></br>
                    </div>
                    

                    <div style="margin: 3px;">
                        <div style="display:inline-block;text-align:left;width:80px">
                            <span class="text color-d" style="font-size:14px;font-weight:500;margin-right:5px;">Background</span>
                        </div>
                        <div style="width: 60%;display:inline-block;text-align:right">
                            <input type="text" class="text color-d input propertyedit" data-property="backgroundColor" style="display:inline-block;font-size:16px;margin:3px;width:80%;padding:10px;vertical-align:middle;text-align:center" value="${a.backgroundColor}" placeholder="HEX">
                        </div>
                        
                    </div>
                    <div style="margin: 3px;">
                        <div style="display:inline-block;text-align:left;width:80px">
                            <span class="text color-d" style="font-size:14px;font-weight:500;margin-right:5px;">Border</span>
                        </div>
                        <div style="width: 60%;display:inline-block;text-align:right">
                            <input type="text" class="text color-d input propertyedit" data-property="borderWidth" style="display:inline-block;font-size:16px;margin:3px;width:20%;padding:10px;vertical-align:middle;text-align:center" value="${a.border}" placeholder="#">
                            <input type="text" class="text color-d input propertyedit" data-property="borderColor" style="display:inline-block;font-size:16px;margin:3px;width:50%;padding:10px;vertical-align:middle;text-align:center" value="${a.border}" placeholder="HEX">
                        </div>
                        
                    </div>
                    <div style="margin: 3px;">
                        <div style="display:inline-block;text-align:left;width:100px">
                            <span class="text color-d" style="font-size:14px;font-weight:500;margin-right:5px;">Corner Rad.</span>
                        </div>
                        <div style="width: 56%;display:inline-block;text-align:right">
                            <input type="text" class="text color-d input propertyedit" data-property="borderTopLeftRadius" style="display:inline-block;font-size:12px;margin:3px;width:20%;padding:10px;vertical-align:middle;text-align:center" value="${a.cornerRadius}" placeholder="#">
                            <input type="text" class="text color-d input propertyedit" data-property="borderTopRightRadius" style="display:inline-block;font-size:12px;margin:3px;width:20%;padding:10px;vertical-align:middle;text-align:center" value="${a.cornerRadius}" placeholder="#">
                            <input type="text" class="text color-d input propertyedit" data-property="borderBottomRightRadius" style="display:inline-block;font-size:12px;margin:3px;width:20%;padding:10px;vertical-align:middle;text-align:center" value="${a.cornerRadius}" placeholder="#">
                            <input type="text" class="text color-d input propertyedit" data-property="borderBottomLeftRadius" style="display:inline-block;font-size:12px;margin:3px;width:20%;padding:10px;vertical-align:middle;text-align:center" value="${a.cornerRadius}" placeholder="#">
                            
                        </div>
                        
                    </div>
                    <div style="margin: 3px;">
                        <div style="display:inline-block;text-align:left;width:80px">
                            <span class="text color-d" style="font-size:14px;font-weight:500;margin-right:5px;">Size</span>
                        </div>
                        <div style="width: 60%;display:inline-block;text-align:right">
                            <input type="text" class="text color-d input propertyedit" data-property="width" style="display:inline-block;font-size:16px;margin:3px;width:30%;padding:10px;vertical-align:middle;text-align:center" value="${a.width}" placeholder="#">
                            x
                            <input type="text" class="text color-d input propertyedit" data-property="height" style="display:inline-block;font-size:16px;margin:3px;width:30%;padding:10px;vertical-align:middle;text-align:center" value="${a.height}" placeholder="#">
                        </div>
                        
                    </div>
                    <div style="margin: 3px;">
                        <div style="display:inline-block;text-align:left;width:80px">
                            <span class="text color-d" style="font-size:14px;font-weight:500;margin-right:5px;">Position</span>
                        </div>
                        <div style="width: 60%;display:inline-block;text-align:right">
                            (
                            <input type="text" class="text color-d input propertyedit" data-property="left" style="display:inline-block;font-size:16px;margin:3px;width:30%;padding:10px;vertical-align:middle;text-align:center" value="${a.x}" placeholder="#">
                            ,
                            <input type="text" class="text color-d input propertyedit" data-property="top" style="display:inline-block;font-size:16px;margin:3px;width:30%;padding:10px;vertical-align:middle;text-align:center" value="${a.y}" placeholder="#">
                            )
                        </div>
                        
                    </div>
                </div>
                
            </div>`;
        });
        Array.from(document.getElementsByClassName("blockcontrol")).forEach(e => {
            e.addEventListener("click", function(evt) {
                var num = evt.srcElement.dataset.num;
                var partof = evt.srcElement.dataset.partof;
    
                Array.from(document.querySelectorAll(".blockitem[data-partof='" + partof + "']")).forEach(e => {
                    if(e.dataset.num == num){
                        e.style.display = "block";
                    }else{
                        e.style.display = "none";
                    }
                });
    
                Array.from(document.querySelectorAll(".blockcontrol[data-partof='" + partof + "']")).forEach(e => {
                    if(e.dataset.num == num){
                        e.style.backgroundColor = "#4708c4";
                        e.children[0].style.color = "white";
                    }else{
                        e.style.backgroundColor = "";
                        e.children[0].style.color = "";
                    }
                });
            });
        });
    }

    function addAnimationOpp(phase, item){
        var computedElementStyle = getComputedStyle(item);
        animations.push({
            phase: phase,
            id: item.dataset.id,
            x: computedElementStyle["left"],
            y: computedElementStyle["top"],
            width: computedElementStyle["width"],
            height: computedElementStyle["height"],
            background: computedElementStyle["backgroundColor"],
            border: computedElementStyle["border"],
            cornerRadius: computedElementStyle["borderRadius"]

        });
        if(item == selectedElement){
            showCorrespondingAnimations();
        }
        

        

        
    }

    function selectElement(el){
        if(el != selectedElement){
            selectedElement = el;
            showCorrespondingAnimations();
        }

        var rect = el.getBoundingClientRect();
        selectionBox.style.display = "";
        selectionBox.style.left = rect.left + "px";
        selectionBox.style.top = rect.top-10-100 + "px";
        selectionBox.style.width = rect.width+10 + "px";
        selectionBox.style.height = rect.height+10 + "px";

        var computedElementStyle = getComputedStyle(el);
        document.getElementById("elementProperties").style.display = "";
        document.getElementById("slideProperties").style.display = "none";
        Array.from(document.getElementsByClassName("propertyedit")).forEach(function(el){
            el.value = computedElementStyle[el.dataset.property];
            el.disabled = false;
        });


    }
    function deselectElement(){
        if(selectedElement != null){
            selectionBox.style.display = "none";
            selectedElement = null;
            document.getElementById("elementProperties").style.display = "none";
            document.getElementById("slideProperties").style.display = "";
            Array.from(document.getElementsByClassName("propertyedit")).forEach(function(el){
                el.disabled = true;
            });
        }
    }
    function refreshItemEvent(item){
        item.addEventListener("dragstart", function(evt){
            var elem = evt.srcElement;
            var e = window.event;
            var rect = elem.getBoundingClientRect();
            var clickOffsetX = e.clientX - rect.left;
            var clickOffsetY = e.clientY - rect.top;
            drag.offsetX = clickOffsetX;
            drag.offsetY = clickOffsetY;
            drag.item = elem;
            
            
            elem.style.opacity = "0.5";
            if(evt.srcElement.dataset.loc != "slide"){
                drag.dragType = "create";
            }else{
                drag.dragType = "move";
                
            }
            
        });
        item.addEventListener("click", function(evt){
            //console.log(evt.srcElement.dataset.loc);
            if(evt.srcElement.dataset.loc == "slide"){
                deselectElement();
                selectElement(evt.srcElement);
            }
        });
        
    }
    
    Array.from(document.getElementsByClassName("item")).forEach(i => {
        refreshItemEvent(i);
        
        
    });

    Array.from(document.getElementsByClassName("dropdown")).forEach(e => {

        var val = e.dataset.value;
        var partof = e.dataset.partof;
        if(val != undefined && val != null && val != ""){
            var option = e.querySelector(`.dropdown_option[data-partof="${partof}"][value="${val}"]`);
            if(option != undefined && option != null){
                document.querySelector(`.dropdown_text[data-partof="${partof}"]`).innerHTML = option.innerHTML;
                document.querySelector(`.dropdown_text[data-partof="${partof}"]`).style.opacity = 1;
            }
        }

        e.addEventListener("click", function(evt){
            var partof = evt.srcElement.dataset.partof;
            
            var elementLoc = evt.srcElement.getBoundingClientRect();
            var documentRect = document.body.getBoundingClientRect();
            var existing = document.querySelector(`.dropdown_option_container[data-partof="${partof}"]`)
            if(existing == undefined || existing == null){
                var newElement = document.createElement("div");
                newElement.classList.add("dropdown-content");
                newElement.dataset.partof = partof;
                newElement.style.position = "absolute";
                newElement.style.top = elementLoc.top-90+80 + "px" + window.scrollY;
                newElement.dataset.normY = elementLoc.top-90+80;
                newElement.style.left = elementLoc.left+(elementLoc.width/2)+10 + "px";
                
                newElement.style.transform = "translateX(-50%)";

                var addHTML = "";
                var options = Array.from(document.querySelectorAll(`.dropdown_option[data-partof="${partof}"]`));

                for(var i = 0; i < options.length; i++){
                    var e = options[i];
                    addHTML += `
                    <div data-value="${e.value}" data-partof="${partof}" style="padding:5px 0px;width:100%;border-radius:8px;margin:2px 0px" class="dropdown_option_show transition">
                        ${e.innerHTML}
                    </div>
                    `;
                }

                newElement.innerHTML = `
                <div class="container c-slightborder dropdown_option_container" style="width:${(elementLoc.width-20) + "px"};border-radius:16px" data-partof="${partof}">
                    ${addHTML}
                </div>
                `
                
                evt.srcElement.appendChild(newElement)
            }else{
                if(evt.srcElement.classList.contains("dropdown_option_show")){
                    console.log("AAA");
                    var newValue = evt.srcElement.dataset.value;
                    var newText = evt.srcElement.innerHTML;
                    document.querySelector(`.dropdown[data-partof="${partof}"]`).dataset.value = newValue;
                    document.querySelector(`.dropdown_text[data-partof="${partof}"]`).innerHTML = newText;
                    document.querySelector(`.dropdown_text[data-partof="${partof}"]`).style.opacity = "1";
                }
                existing.remove();
            }
        
            
        });
    });

    Array.from(document.getElementsByClassName("propertyedit")).forEach(i => {
        i.addEventListener("change", function(evt){
            var elem = evt.srcElement;
            var property = elem.dataset.property;
            var value = elem.value;
            if(selectedElement != null){
                var divRect = currentSlide.getBoundingClientRect();
                selectedElement.style[property] = value;
                selectedElement.dataset.origWC = divRect.width;
                selectedElement.dataset.origHC = divRect.height;
                selectedElement.dataset.origW = parseInt(selectedElement.style.width);
                selectedElement.dataset.origH = parseInt(selectedElement.style.height);
                
                selectedElement.dataset.origX = parseInt(selectedElement.style.left)-parseInt(divRect.left);
                selectedElement.dataset.origY = parseInt(selectedElement.style.top)-parseInt(divRect.top-110);
                selectElement(selectedElement);
            }
        });
    });
    Array.from(document.getElementsByClassName("slideedit")).forEach(i => {
        i.addEventListener("change", function(evt){
            var elem = evt.srcElement;
            var property = elem.dataset.property;
            var value = elem.value;
            currentSlide.style[property] = value;
        })
    });
    


    // keys
    document.addEventListener("keydown", function(evt){
        if(evt.keyCode == 37){
            if(selectedElement != null){
                selectedElement.style.left = parseInt(selectedElement.style.left) - 1 + "px";
                selectElement(selectedElement);
            }
        }
        else if(evt.keyCode == 39){
            if(selectedElement != null){
                selectedElement.style.left = parseInt(selectedElement.style.left) + 1 + "px";
                selectElement(selectedElement);
            }
        }
        else if(evt.keyCode == 38){
            if(selectedElement != null){
                selectedElement.style.top = parseInt(selectedElement.style.top) - 1 + "px";
                selectElement(selectedElement);
            }
        }
        else if(evt.keyCode == 40){
            if(selectedElement != null){
                selectedElement.style.top = parseInt(selectedElement.style.top) + 1 + "px";
                selectElement(selectedElement);
            }
        }
        else if(evt.keyCode == 8){
            if(selectedElement != null && selectedElement == document.activeElement){
                selectedElement.remove();
                deselectElement();
            }
        }

    });

    
    Array.from(document.getElementsByClassName("blockcontrol")).forEach(e => {
        e.addEventListener("click", function(evt) {
            var num = evt.srcElement.dataset.num;
            var partof = evt.srcElement.dataset.partof;

            Array.from(document.querySelectorAll(".blockitem[data-partof='" + partof + "']")).forEach(e => {
                if(e.dataset.num == num){
                    e.style.display = "block";
                }else{
                    e.style.display = "none";
                }
            });

            Array.from(document.querySelectorAll(".blockcontrol[data-partof='" + partof + "']")).forEach(e => {
                if(e.dataset.num == num){
                    e.style.backgroundColor = "#4708c4";
                    e.children[0].style.color = "white";
                }else{
                    e.style.backgroundColor = "";
                    e.children[0].style.color = "";
                }
            });
        });
    });


    Array.from(document.getElementsByClassName("slide")).forEach(s => {
        s.addEventListener("dragover", function(evt){
            var e = window.event;
            drag.x = e.pageX;
            drag.y = e.pageY;
            drag.valid = true;
            event.preventDefault();
        });
        s.addEventListener("dragleave", function(evt){
            var e = window.event;
            drag.x = e.pageX;
            drag.y = e.pageY;
            drag.valid = false;
        });
        s.addEventListener("click", function(evt){
            if(!evt.srcElement.classList.contains("item")){
                deselectElement();
            }
        })
        s.addEventListener("drop", function(evt){
            var e = window.event;
            drag.x = e.pageX;
            drag.y = e.pageY;
            drag.valid = false;
    
            drag.item.style.opacity = "1";
            
            if(drag.dragType == "create"){
                let newElem = drag.item.cloneNode();

                var divRect = currentSlide.getBoundingClientRect();

                newElem.dataset.origWC = divRect.width;
                newElem.dataset.origHC = divRect.height;
                newElem.dataset.origW = parseInt(newElem.style.width);
                newElem.dataset.origH = parseInt(newElem.style.height);
                newElem.dataset.id = elemId;
                addAnimationOpp(-3, newElem);
                addAnimationOpp(-2, newElem);
                addAnimationOpp(-1, newElem);

                elemId += 1;
                
                newElem.style.position = "absolute";
                newElem.dataset.loc = "slide";
                newElem.style.left = (drag.x-drag.offsetX) + "px";
                newElem.style.top = (drag.y-110-drag.offsetY) + "px";
                //console.log(newElem.style.left + " " + divRect.left);
                newElem.dataset.origX = parseInt(newElem.style.left)-parseInt(divRect.left);
                newElem.dataset.origY = parseInt(drag.y-drag.offsetY)-parseInt(divRect.top);
                newElem.style.zIndex = "100";
                evt.srcElement.appendChild(newElem);
    
                refreshItemEvent(newElem);
            }else if(drag.dragType == "move"){
                var divRect = currentSlide.getBoundingClientRect();
                drag.item.dataset.origWC = divRect.width;
                drag.item.dataset.origHC = divRect.height;
                drag.item.dataset.origW = parseInt(drag.item.style.width);
                drag.item.dataset.origH = parseInt(drag.item.style.height);
                
                drag.item.style.left = (drag.x-drag.offsetX) + "px";
                drag.item.style.top = (drag.y-110-drag.offsetY) + "px";
                drag.item.dataset.origX = parseInt(drag.item.style.left)-parseInt(divRect.left);
                drag.item.dataset.origY = parseInt(drag.y-drag.offsetY)-parseInt(divRect.top);
                console.log(drag.item.style.top + " " + divRect.top);
                if(selectedElement == drag.item){
                    selectElement(drag.item);
                }
            }
            
        });
    });

    window.addEventListener("resize", function(evt){
        var divRect = currentSlide.getBoundingClientRect();

        Array.from(document.getElementsByClassName("item")).forEach(i => {
            var ratioOfChangeX = (divRect.width/i.dataset.origWC);
            var ratioOfChangeY = (divRect.height/i.dataset.origHC);
            i.style.width = (i.dataset.origW*ratioOfChangeX) + "px";
            i.style.height = (i.dataset.origH*ratioOfChangeY) + "px";
            i.style.left = (divRect.left + i.dataset.origX*ratioOfChangeX) + "px";
            i.style.top = (divRect.top-110 + i.dataset.origY*ratioOfChangeY) + "px";
            console.log(divRect.top + " " + i.dataset.origY + " " + ratioOfChangeY)

        });
    });
    
    document.addEventListener("mousemove", function(evt){
        mousePos.x = evt.screenX;
        mousePos.y = evt.screenY;

        
    });

    document.getElementById("savePresentation").addEventListener("click", function(evt){
        slides = [];
        Array.from(document.getElementsByClassName("slide")).sort((a,b) => parseInt(a.dataset.num) - parseInt(b.dataset.num)).forEach(s => {
            slides.push({
                HTML: s.innerHTML,
                background: s.style.backgroundColor
            });
        })
        
        $.ajax({
            url: "/group/present",
            type: "POST",
            data: {
                "action": "create",
                "group": group,
                "title" : "Test Presentation",
                "slides": JSON.stringify(slides)
                
            },
            success: function(data){
                console.log(data);
            }
        })
    })

</script>