<div class="transition" style="display: inline-block;padding-top:60px;width:100%;opacity:0" id="contentToShow">
    <span class="text color-d" style="font-size: 100px;display:block" id="welcomeH">Manage</span>
    

    <div>
        <div class="container c-border c-hover blockcontrol" style="padding:10px 50px 10px 50px;margin:10px;background-color:#4708c4;" data-partof="manage" data-num="1">
            <span style="pointer-events: none;color:white">Items</span>
        </div>
        <div class="container c-border c-hover blockcontrol" style="padding:10px 50px 10px 50px;margin:10px" data-partof="manage" data-num="2">
            <span style="pointer-events: none">Meetings</span>
        </div>
        <div class="container c-border c-hover blockcontrol" style="padding:10px 50px 10px 50px;margin:10px" data-partof="manage" data-num="3">
            <span style="pointer-events: none">Quick Links</span>
        </div>
    </div>

    <br/>
    <br/>
    <div class="blockitem" data-partof="manage" data-num="1" id="items" style="width:100%">
        
    </div>
    <div class="blockitem" data-partof="manage" data-num="2" style="width:100%;display:none">
        <div style="margin:10px">
            <div class="container c-border c-hover prevMonth" style="width:20px;height:20px;margin:8px;padding:5px">
                <span class="material-symbols-rounded" style="font-size:20px">navigate_before</span>
            </div>
            <span class="text color-d" style="font-size: 32px;width:200px" id="currentMonthYear">January, 2022</span>
            <div class="container c-border c-hover nextMonth" style="width:20px;height:20px;margin:8px;padding:5px">
                <span class="material-symbols-rounded" style="font-size:20px">navigate_next</span>
            </div>
        </div>
        

        <div style="width:90%;text-align:center;display:inline-block">
            <div style="display:none;justify-content:center;width:80%" class="daterow" data-row="0">
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="0" data-column="0"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="0" data-column="1"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="0" data-column="2"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="0" data-column="3"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="0" data-column="4"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="0" data-column="5"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="0" data-column="6"></div>
            </div>
            <div style="display:none;justify-content:center;width:80%" class="daterow" data-row="1">
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="1" data-column="0"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="1" data-column="1"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="1" data-column="2"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="1" data-column="3"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="1" data-column="4"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="1" data-column="5"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="1" data-column="6"></div>
            </div>
            <div style="display:none;justify-content:center;width:80%" class="daterow" data-row="2">
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="2" data-column="0"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="2" data-column="1"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="2" data-column="2"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="2" data-column="3"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="2" data-column="4"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="2" data-column="5"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="2" data-column="6"></div>
            </div>
            <div style="display:none;justify-content:center;width:80%" class="daterow" data-row="3">
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="3" data-column="0"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="3" data-column="1"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="3" data-column="2"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="3" data-column="3"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="3" data-column="4"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="3" data-column="5"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="3" data-column="6"></div>
            </div>
            <div style="display:none;justify-content:center;width:80%" class="daterow" data-row="4">
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="4" data-column="0"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="4" data-column="1"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="4" data-column="2"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="4" data-column="3"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="4" data-column="4"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="4" data-column="5"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="4" data-column="6"></div>
            </div>
            <div style="display:none;justify-content:center;width:80%" class="daterow" data-row="5">
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="5" data-column="0"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="5" data-column="1"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="5" data-column="2"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="5" data-column="3"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="5" data-column="4"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="5" data-column="5"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="5" data-column="6"></div>
            </div>
        </div>
    </div>
    <div class="blockitem" data-partof="manage" data-num="3" style="width:100%;display:none">
        <div id="linkItems"></div>
    </div>




    

</div>

<script>
    var currentItems = [];
    var currentLinks = [];
    var currentMeetings = [];
    var authId = "";
    var dropdowns = [];
    var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
    let now = new Date();
    var currentMonth = now.getMonth();
    var currentYear = now.getFullYear();

    function setDateArray(){
        document.getElementById("currentMonthYear").innerHTML = months[currentMonth] + ", " + currentYear;
        var firstDay = new Date(currentYear, currentMonth, 1);
        var start = firstDay.getDay();
        for(var i = 0; i < 6; i++){
            document.querySelector(".daterow[data-row='" + i + "']").style.display = "none";
            for(var j = 0; j < 7; j++){
                document.querySelector(".dateitem[data-row='"+i+"'][data-column='"+j+"']").innerHTML = ``;
            }
        }


        for(var i = 1; i <= 30; i++){
            var row = Math.floor(start/7);
            var column = start%7;
            
            start+=1;
            document.querySelector(".daterow[data-row='" + row + "']").style.display = "inline-flex";
            document.querySelector(".dateitem[data-row='"+row+"'][data-column='"+column+"']").innerHTML = `<span class="text" style="font-size:12px;text-align:left;display:block">${i}</span>
                `;
            if(currentMeetings.filter(m => new Date(m["datetime"]).getDate() == i-1 && new Date(m["datetime"]).getMonth() == currentMonth && new Date(m["datetime"]).getFullYear() == currentYear).length > 0){
                var meeting = currentMeetings.filter(m => new Date(m["datetime"]).getDate() == i-1 && new Date(m["datetime"]).getMonth() == currentMonth && new Date(m["datetime"]).getFullYear() == currentYear)[0];
                var time = (new Date(meeting["datetime"]).getHours() > 12 ? new Date(meeting["datetime"]).getHours()-12 : new Date(meeting["datetime"]).getHours()) + ":" + new Date(meeting["datetime"]).getMinutes().toString().padStart(2, "0");

                
                document.querySelector(".dateitem[data-row='"+row+"'][data-column='"+column+"']").innerHTML += `
                <div class="container c-border" style="margin:2px 2px;padding:4px;font-size:12px;width:80%;background-color:#4708c4;">
                    <span style="pointer-events: none;color:white;font-size:12px">${time} (${meeting["length"]}h)</span>
                </div>
                `;
            }
            
        }
    }
    setDateArray();

    Array.from(document.getElementsByClassName('nextMonth')).forEach(function(element){
        element.addEventListener('click', function(){
            currentMonth+=1;
            if(currentMonth > 11){
                currentMonth = 0;
                currentYear+=1;
            }
            setDateArray();
        });
    });
    Array.from(document.getElementsByClassName('prevMonth')).forEach(function(element){
        element.addEventListener('click', function(){
            currentMonth-=1;
            if(currentMonth < 0){
                currentMonth = 11;
                currentYear-=1;
            }
            setDateArray();
        });
    });


    function reloadAllBaseEvents(){
        document.getElementById("create_item").addEventListener("click", function(evt){
            item = {
                "title": "",
                "contents": "",
                "show": false,
                "icon": "favorite",
                "result": {
                    "to": "static",
                    "data": ""
                },
                "action": "create"
            };
            $.ajax({
                url: "/group/item",
                type: "POST",
                data: item,
                headers: {authorization: authId},
                success: function(data) {
                    getMenuItems();
                }
            })
        });

        Array.from(document.getElementsByClassName("delete")).forEach(e => {
            e.addEventListener("click", function(evt){
                var id = parseInt(evt.srcElement.dataset.partof);
                id = currentItems[id]["_id"];
                $.ajax({
                    url: "/group/item",
                    type: "POST",
                    data: {
                        action: "delete",
                        _id: id
                    },
                    headers: {authorization: authId},
                    success: function(data) {
                        getMenuItems();
                    }
                })
            });
        });

        Array.from(document.getElementsByClassName("dropdown")).forEach(e => {

            var val = e.dataset.value;
            var partof = e.dataset.partof;
            if(val != undefined && val != null && val != ""){
                var option = e.querySelector(`.dropdown_option[data-partof="${partof}"][value="${val}"]`);
                if(option != undefined && option != null){
                    document.querySelector(`.dropdown_text[data-partof="${partof}"]`).innerHTML = option.innerHTML;
                    document.querySelector(`.dropdown_text[data-partof="${partof}"]`).style.opacity = 1;
                }
            }

            e.addEventListener("click", function(evt){
                var partof = evt.srcElement.dataset.partof;
                
                var elementLoc = evt.srcElement.getBoundingClientRect();
                var documentRect = document.body.getBoundingClientRect();
                var existing = document.querySelector(`.dropdown_option_container[data-partof="${partof}"]`)
                if(existing == undefined || existing == null){
                    var newElement = document.createElement("div");
                    newElement.classList.add("dropdown-content");
                    newElement.dataset.partof = partof;
                    newElement.style.position = "absolute";
                    newElement.style.top = elementLoc.top-90+80 + "px" + window.scrollY;
                    newElement.dataset.normY = elementLoc.top-90+80;
                    newElement.style.left = elementLoc.left+(elementLoc.width/2)+10 + "px";
                    
                    newElement.style.transform = "translateX(-50%)";

                    var addHTML = "";
                    var options = Array.from(document.querySelectorAll(`.dropdown_option[data-partof="${partof}"]`));

                    for(var i = 0; i < options.length; i++){
                        var e = options[i];
                        addHTML += `
                        <div data-value="${e.value}" data-partof="${partof}" style="padding:5px 0px;width:100%;border-radius:8px;margin:2px 0px" class="dropdown_option_show transition">
                            ${e.innerHTML}
                        </div>
                        `;
                    }

                    newElement.innerHTML = `
                    <div class="container c-slightborder dropdown_option_container" style="width:${(elementLoc.width-20) + "px"};border-radius:16px" data-partof="${partof}">
                        ${addHTML}
                    </div>
                    `
                    
                    evt.srcElement.appendChild(newElement)
                }else{
                    if(evt.srcElement.classList.contains("dropdown_option_show")){
                        console.log("AAA");
                        var newValue = evt.srcElement.dataset.value;
                        var newText = evt.srcElement.innerHTML;
                        document.querySelector(`.dropdown[data-partof="${partof}"]`).dataset.value = newValue;
                        document.querySelector(`.dropdown_text[data-partof="${partof}"]`).innerHTML = newText;
                        document.querySelector(`.dropdown_text[data-partof="${partof}"]`).style.opacity = "1";
                    }
                    existing.remove();
                }
            
                
            });
        });

        Array.from(document.getElementsByClassName("bounce")).forEach(e => {
            e.addEventListener("click", function() {
                if(!e.classList.contains("bounce-on")){
                    e.classList.add("bounce-on");
                    setTimeout(function() {
                        e.classList.remove("bounce-on");
                    }, 600);
                }
                
            });
        });

        Array.from(document.getElementsByClassName("link")).forEach(e => {
            e.addEventListener("click", function(evt) {
                window.open(evt.srcElement.dataset.link, '_blank');
            });
        });

        Array.from(document.getElementsByClassName("generateqr")).forEach(e => {
            e.addEventListener("click", function(evt){
                //
                var partof = evt.srcElement.dataset.partof;
                var host = window.location.host;
                    QrCreator.render({
                        text: host + "/ql/" + document.querySelector('.form_from[data-partof="' + partof + '"]').value,
                        radius: 0.4, // 0.0 to 0.5
                        ecLevel: 'H', // L, M, Q, H
                        fill: '#ffffff', // foreground color
                        background: null, // color or null for transparent
                        size: 200 // in pixels
                      }, document.querySelector(`.qrcode[data-partof="${partof}"]`));
                
            });
        });
        Array.from(document.getElementsByClassName("hideqr")).forEach(e => {
            e.addEventListener("click", function(evt){
                var partof = evt.srcElement.dataset.partof;
                document.querySelector(`.qrcode[data-partof="${partof}"]`).innerHTML = "";
            });
        });

        Array.from(document.getElementsByClassName("checkbox")).forEach(e => {
            e.addEventListener("click", function(evt){
                if(evt.srcElement.dataset.checked == "NO"){
                    evt.srcElement.style.backgroundColor = "#4708c4";
                    evt.srcElement.dataset.checked = "YES";
                }else{
                    evt.srcElement.style.backgroundColor = "white";
                    evt.srcElement.dataset.checked = "NO";
                }
            });
        });

        document.getElementById("contentToShow").style.opacity = 1;

        Array.from(document.getElementsByClassName("iconedit")).forEach(e => {
            e.addEventListener("change", function(evt) {
                var partof = evt.srcElement.dataset.partof;
                document.querySelector(".iconshow[data-partof='" + partof + "']").innerHTML = evt.srcElement.value;
            });
        });

        
        Array.from(document.getElementsByClassName("blockcontrol")).forEach(e => {
            e.addEventListener("click", function(evt) {
                var num = evt.srcElement.dataset.num;
                var partof = evt.srcElement.dataset.partof;
    
                Array.from(document.querySelectorAll(".blockitem[data-partof='" + partof + "']")).forEach(e => {
                    if(e.dataset.num == num){
                        e.style.display = "block";
                    }else{
                        e.style.display = "none";
                    }
                });
    
                Array.from(document.querySelectorAll(".blockcontrol[data-partof='" + partof + "']")).forEach(e => {
                    if(e.dataset.num == num){
                        e.style.backgroundColor = "#4708c4";
                        e.children[0].style.color = "white";
                    }else{
                        e.style.backgroundColor = "";
                        e.children[0].style.color = "";
                    }
                });
            });
        });
    }

    Array.from(document.getElementsByClassName("dateitem")).forEach(di => {
        di.addEventListener("click", function(evt){
            document.getElementById("externalClickAction").dataset.action = "overlay";
            document.getElementById("externalClickAction").dataset.overlay = "create_meeting";
            document.getElementById("externalClickAction").click();
        })
    })

    function getMeetingItems(){
        $.ajax({
            url: "/group/meetings",
            success: function(data){
                data = JSON.parse(data);
                if(data["successful"]){
                    
                    currentMeetings = data["items"];
                    setDateArray();

                    Array.from(document.getElementsByClassName("dateitem")).forEach(di => {

                    });
                }
            }
        })
    }

    function getLinkItems(){
        $.ajax({
            url: "/group/links",
            success: function(data){
                data = JSON.parse(data);
                console.log(data);
                if(data["successful"]){
                    document.getElementById("linkItems").innerHTML = "";
                    currentLinks = data["items"];
                    var id = 0;
                    data["items"].forEach(i => {
                        document.getElementById("linkItems").innerHTML += `
                        <div class="container c-slightborder linkitem" style="width:70%;padding:20px;margin-bottom:20px">
                            <div class="blockitem" data-partof="${id}l" data-num="0">
                                <div style="width:20%;display:inline-block;vertical-align:middle">
                                    <div class="container c-border c-hover blockcontrol" style="padding:5px;margin:1px" data-partof="${id}l" data-num="1">
                                        <span class="material-symbols-rounded" style="font-size:16px">edit</span>
                                    </div>
                                    <div class="container c-border c-hover blockcontrol generateqr" style="padding:5px;margin:1px" data-partof="${id}l" data-num="2">
                                        <span class="material-symbols-rounded" style="font-size:16px">qr_code</span>
                                    </div>
                                    <div class="container c-border c-hover deletel" style="padding:5px;margin:1px" data-partof="${id}l" data-num="${id}">
                                        <span class="material-symbols-rounded" style="font-size:16px">delete</span>
                                    </div>
                                </div>
                                <div style="width:78%;display:inline-block;vertical-align:middle">
                                    <span class="text color-d" style="display:block;font-size:24px;margin:5px">${i["name"]}</span>
                                    <span class="text color-m" style="display:block;font-size:16px;margin:5px"><i>/ql/${i["from"]} > ${i["to"]}</i></span>
                                </div>
                            </div>
                            <div class="blockitem" data-partof="${id}l" data-num="1" style="display:none">
                                <div>
                                    <div style="width:160px;display:inline-block;text-align:left">
                                        <span class="text color-d" style="font-size:14px;font-weight:500;margin-right:5px;">Link Name</span>
                                    </div>
                                    <input type="text" class="text color-d input form_name" data-partof="${id}l" style="display:inline-block;font-size:16px;margin:5px;width:50%;padding:14px;vertical-align:middle" value="${i["name"]}" placeholder="Cool Link!">
                                </div>
                                <div>
                                    <div style="width:160px;display:inline-block;text-align:left">
                                        <span class="text color-d" style="font-size:14px;font-weight:500;margin-right:5px;">Go From Path (/ql/...)</span>
                                    </div>
                                    <input type="text" class="text color-d input form_from" data-partof="${id}l" style="display:inline-block;font-size:16px;margin:5px;width:50%;padding:14px;vertical-align:middle" value="${i["from"]}" placeholder="From...">
                                </div>
                                <div>
                                    <div style="width:160px;display:inline-block;text-align:left">
                                        <span class="text color-d" style="font-size:14px;font-weight:500;margin-right:5px;">Go To</span>
                                    </div>
                                    <input type="text" class="text color-d input form_to" data-partof="${id}l" style="display:inline-block;font-size:16px;margin:5px;width:50%;padding:14px;vertical-align:middle" value="${i["to"]}" placeholder="To...">
                                </div>
                                
                                <div>
                                    <div class="checkbox transition" data-partof="${id}l" style="display:inline-block;vertical-align:middle;${i["restricted"] ? "background-color:#4708c4" : ""}" data-checked="${i["restricted"] ? "YES" : "NO"}">
                                        
                                    </div>
                                    <span class="text color-d" style="display:inline-block;font-size:16px;margin:10px;vertical-align:middle">Restricted to ${i["group"]}</span>
                                </div>
                                <br/>
                                <div class="container c-border c-hover blockcontrol color-m savel" data-partof="${id}l" data-num="0" style="padding:10px 50px 10px 50px;margin:10px">
                                    Save
                                </div>
                                <div class="container c-border-gray blockcontrol color-g c-hover-gray" data-partof="${id}l" data-num="0" style="padding:10px 50px 10px 50px;margin:10px" data-partof="${id}">
                                    Cancel
                                </div>
                            </div>
                            <div class="blockitem" data-partof="${id}l" data-num="2" style="display:none">
                                <div class="qrcode" data-partof="${id}l" style="border:6px solid #4708c4;background-color:#4708c4;padding:60px;border-radius:180px;display:inline-block;overflow:hidden;margin:20px">

                                </div>
                                <br/>
                                <div class="container c-border-gray blockcontrol color-g c-hover-gray hideqr" data-partof="${id}l" data-num="0" style="padding:10px 50px 10px 50px;margin:10px" data-partof="${id}">
                                    Done
                                </div>
                            </div>
                        </div>
                        `;
                        id+=1;
                    });
                    Array.from(document.getElementsByClassName("savel")).forEach(e => {
                        e.addEventListener("click", function(evt){
                            var partof = evt.srcElement.dataset.partof.substring(0, evt.srcElement.dataset.partof.length - 1);
                            var item =  currentLinks[parseInt(partof)];
                            item["name"] = document.querySelector(".form_name[data-partof='" + partof + "l']").value;
                            item["to"] = document.querySelector(".form_to[data-partof='" + partof + "l']").value;
                            item["from"] = document.querySelector(".form_from[data-partof='" + partof + "l']").value;
                            item["restricted"] = document.querySelector(".checkbox[data-partof='" + partof + "l']").dataset.checked == "YES" ? true : false;
                            item["action"] = "edit";
                            console.log(item);
                            $.ajax({
                                url: "/group/link",
                                type: "POST",
                                data: item,
                                headers: {authorization: authId},
                                success: function(data) {
                                    getLinkItems();
                                }
                            })
            
                            console.log(item);
            
                        });
                    });
                    reloadAllBaseEvents();
                }
            }
        })
    }

    function getMenuItems(){
        $.ajax({
            url: "/group/items",
            headers: {authorization : authId, group: ""},
            success: function(data){
                data = JSON.parse(data);
                if(data["successful"]){
                    document.getElementById("items").innerHTML = `<div class="container c-border c-hover" style="padding:10px 50px 10px 50px;margin-bottom:20px;background-color:#4708c4;" id="create_item">
                        <span style="pointer-events: none;color:white">Create New Item</span>
                    </div><br/>`;
                    var id = 0;
                    currentItems = data["items"];

                    

                    data["items"].forEach(i => {
                        
                        document.getElementById('items').innerHTML += `
                        <div class="container c-slightborder item" style="width:60%;padding:20px;margin-bottom:20px">
                            <div class="blockitem" data-partof="${id}c" data-num="0">
                                <div style="width:14%;display:inline-block;vertical-align:middle">
                                    <div class="c-border bounce" style="border-radius: 60px;border-width:4px;background-color:#4708c4;width:4.5vw;height:4.5vw;display:inline-block;opacity:${i["show"] ? "1" : ".5"}">
                                        <span class="material-symbols-rounded color-w" style="width:50%;margin-top:24%;font-size:2.3vw">${i["icon"]}</span>
                                    </div>
                                    <br/>
                                    <div class="container c-border c-hover blockcontrol" style="padding:5px;margin:1px" data-partof="${id}c" data-num="1">
                                        <span class="material-symbols-rounded" style="font-size:16px">edit</span>
                                    </div>
                                    <div class="container c-border c-hover delete" style="padding:5px;margin:1px" data-partof="${id}" data-num="1">
                                        <span class="material-symbols-rounded" style="font-size:16px">delete</span>
                                    </div>
                                    ${
                                        (i["details"] != undefined && i["details"]["end"] != undefined) ?
                                            `<br/>
                                            <div class="c-border bounce" style="padding:5px 0px;background-color:#4708c4;display:inline-block;margin-top:5px;width:4.5vw">
                                                <span class="color-w" style="font-size:1vw">3 days</span>
                                            </div>` : ``
                                    }
                                    
                                </div>
                                <div style="width:84%;display:inline-block;vertical-align:middle">
                                    <span class="text color-d" style="display:block;font-size:30px;margin:10px">${i["title"]}</span>
                                    <span class="text color-d" style="display:block;font-weight:500;margin:10px;font-size:16px">${i["contents"]}</span>
                                    
                                    
                                </div>
                                
                            </div>
                            <div class="blockitem" data-partof="${id}c" data-num="1" style="display:none">
                                <div style="width:14%;display:inline-block;vertical-align:middle">
                                    <div class="c-border bounce blockcontrol" data-partof="${id}" data-num="0" style="border-radius: 60px;border-width:4px;background-color:#4708c4;width:4.5vw;height:4.5vw;display:inline-block;margin-bottom:10px;margin-top:20px">
                                        <span class="material-symbols-rounded color-m" style="width:50%;margin-top:24%;font-size:2.3vw;color:white">article</span>
                                    </div>
                                    <div class="c-border bounce blockcontrol" data-partof="${id}" data-num="1" style="border-radius: 60px;border-width:4px;background-color:transparent;width:4.5vw;height:4.5vw;display:inline-block;margin-bottom:10px">
                                        <span class="material-symbols-rounded color-m" style="width:50%;margin-top:24%;font-size:2.3vw">auto_awesome</span>
                                    </div>
                                    <div class="c-border bounce blockcontrol" data-partof="${id}" data-num="2" style="border-radius: 60px;border-width:4px;background-color:transparent;width:4.5vw;height:4.5vw;display:inline-block;margin-bottom:20px">
                                        <span class="material-symbols-rounded color-m" style="width:50%;margin-top:24%;font-size:2.3vw">bolt</span>
                                    </div>
                                    ${
                                        (i["details"] != undefined && i["details"]["end"] != undefined) ?
                                            `<br/>
                                            <div class="c-border bounce" style="padding:5px 0px;background-color:#4708c4;display:inline-block;margin-top:5px;width:4.5vw">
                                                <span class="color-w" style="font-size:1vw">3 days</span>
                                            </div>` : ``
                                    }
                                    
                                </div>
                                <div style="width:84%;display:inline-block;vertical-align:middle">
                                    <div class="blockitem" data-partof="${id}" data-num="0" style="display:block">
                                        <input type="text" class="text color-d input form_title" style="display:block;font-size:30px;margin:10px;width:100%;padding:14px" value="${i["title"]}" placeholder="Title" data-partof="${id}">
                                        <textarea type="text" class="text color-d input form_contents" style="display:block;font-size:16px;margin:10px;width:100%;font-weight:500;resize:none;height:100px;border-radius:30px;padding:14px" placeholder="Contents" data-partof="${id}">${i["contents"]}</textarea>
                                    </div>
                                    <div class="blockitem" data-partof="${id}" data-num="1" style="display:none">
                                        <div>
                                            <div class="checkbox transition" data-partof="${id}" style="display:inline-block;vertical-align:middle;${i["show"] ? "background-color:#4708c4" : ""}" data-checked="${i["show"] ? "YES" : "NO"}">
                                                
                                            </div>
                                            <span class="text color-d" style="display:inline-block;font-size:16px;margin:10px;vertical-align:middle">Show Card</span>
                                        </div>
                                        
                                        <span class="material-symbols-rounded iconshow color-m" data-partof="${id}" style="font-size:28px;vertical-align:middle">${i["icon"]}</span>
                                        <input type="text" class="text color-d input iconedit" data-partof="${id}" style="display:inline-block;font-size:20px;margin:10px;width:50%;padding:14px;vertical-align:middle" value="${i["icon"]}" placeholder="Icon">
                                    </div>
                                    <div class="blockitem" data-partof="${id}" data-num="2" style="display:none">
                                        
                                        <div style="display: inline-flex;align-items: center;justify-content:center;width:100%">
                                            <div class="container c-border dropdown form_actiontype" data-partof="dropdown${id}" style="cursor:pointer;style="display:inline-block;vertical-align:middle" data-value="${i["result"]["to"]}">
                                                <span class="dropdown_text" style="float:left;margin-right:20px;opacity:0.5;margin-left:5px;pointer-events:none" data-partof="dropdown${id}">Select an Option</span>
                                                <span class="material-symbols-rounded color-d dropdown_icon" style="float:right;font-size:20px" data-partof="dropdown${id}">expand_more</span>
                                                <option class="dropdown_option" data-partof="dropdown${id}" value="link">Link</option>
                                                <option class="dropdown_option" data-partof="dropdown${id}" value="action">Action</option>
                                                <option class="dropdown_option" data-partof="dropdown${id}" value="static">Static</option>
                                                <option class="dropdown_option" data-partof="dropdown${id}" value="vote">Vote</option>
                                            </div>
                                            <input type="text" class="text color-d input form_actionto" style="display:inline-block;font-size:14px;margin:10px;width:50%;vertical-align:middle" value="${i["result"]["data"]}" placeholder="To..." data-partof="${id}">
                                        </div>
                                    </div>
                                    <div class="container c-border blockcontrol save color-m c-hover" data-partof="${id}c" data-num="0" style="padding:10px 50px 10px 50px;margin:10px" data-partof="${id}">
                                        Save
                                    </div>
                                    <div class="container c-border-gray blockcontrol color-g c-hover-gray" data-partof="${id}c" data-num="0" style="padding:10px 50px 10px 50px;margin:10px" data-partof="${id}">
                                        Cancel
                                    </div>
                                    
                                </div>
                            </div>
                            
                            
                            
                        </div>
                        
                        `
                        id+=1;
                    });
                    Array.from(document.getElementsByClassName("save")).forEach(e => {
                        e.addEventListener("click", function(evt){
                            var partof = evt.srcElement.dataset.partof.substring(0, evt.srcElement.dataset.partof.length - 1);
                            var item =  currentItems[parseInt(partof)];
                            item["title"] = document.querySelector(".form_title[data-partof='" + partof + "']").value;
                            item["contents"] = document.querySelector(".form_contents[data-partof='" + partof + "']").value;
                            item["icon"] = document.querySelector(".iconedit[data-partof='" + partof + "']").value;
                            item["result"]["data"] = document.querySelector(".form_actionto[data-partof='" + partof + "']").value;
                            item["result"]["to"] = document.querySelector(".form_actiontype[data-partof='dropdown" + partof + "']").dataset.value;
                            item["show"] = document.querySelector(".checkbox[data-partof='" + partof + "']").dataset.checked == "YES" ? true : false;
                            item["action"] = "edit";
                            console.log(item);
                            $.ajax({
                                url: "/group/item",
                                type: "POST",
                                data: item,
                                headers: {authorization: authId},
                                success: function(data) {
                                    getMenuItems();
                                }
                            })
            
                            console.log(item);
            
                        });
                    });
                    reloadAllBaseEvents();
                    
                    
                }
            }
        })
    }


    document.addEventListener('scroll', function(evt){
        dropdowns.forEach(d => {
            var originalY = d.dataset.normY;
            originalY.style.top = parseInt(originalY) + window.scrollY;
        });
    });
    
    getLinkItems();
    getMenuItems();
    getMeetingItems();
    
</script>