<div class="transition" style="display: inline-block;padding-top:0px;width:100%;opacity:0;padding-bottom:100px" id="contentToShow">
    

    <div style="position: fixed;bottom:0;left:20px;z-index:999">
        <div style="display:inline-flex;justify-content:center">
            <div class="container c-border c-hover blockcontrol" style="padding:10px 50px 10px 50px;border-radius:8px 0px 0px 0px;border-width:2px 1px 2px 2px" data-partof="manage" data-num="1">
                <span style="pointer-events: none">Items</span>
            </div>
            <div class="container c-border c-hover blockcontrol" style="padding:10px 50px 10px 50px;border-radius:0px;border-width:2px 1px 2px 1px" data-partof="manage" data-num="2">
                <span style="pointer-events: none">Meetings</span>
            </div>
            <div class="container c-border c-hover blockcontrol" style="padding:10px 50px 10px 50px;border-radius:0px;border-width:2px 1px 2px 1px" data-partof="manage" data-num="3">
                <span style="pointer-events: none">Quick Links</span>
            </div>
            <div class="container c-border c-hover blockcontrol" style="padding:10px 50px 10px 50px;border-radius:0px 8px 0px 0px;border-width:2px 2px 2px 1px" data-partof="manage" data-num="4">
                <span style="pointer-events: none">Announcements</span>
            </div>
        </div>
    </div>

    <br/>
    <br/>
    <div class="blockitem" data-partof="manage" data-num="-1" style="width:100%">
        <div style="position:absolute;left:50%;top:50%;transform:translate(-50%,-50%)">
            <img src="/images/sparkclub.png" style="height:60vh;margin:0px 40px;transition:all 1s ease-in-out;opacity:.4" class="slowlogo"/>
        </div>
        <div style="position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);padding:5px 10px;background-color:rgba(0,0,0,0.6);border-radius:8px;opacity:0.6">
            <span class="text color-w">Please Select an Option...</span>
        </div>
    </div>
    <div class="blockitem" data-partof="manage" data-num="1" style="width:100%;display:none">
        <span class="text">All Group Module Items</span>
        <div class="container c-border c-hover" style="padding:5px;margin:5px" id="create_item">
            <span class="material-symbols-rounded" style="font-size:16px;pointer-events:none">add</span>
        </div>
        <div id="items" style="margin:20px">

        </div>
    </div>
    <div class="blockitem" data-partof="manage" data-num="2" style="width:100%;display:none">
        <div style="margin:10px">
            <div class="container c-border c-hover prevMonth" style="width:20px;height:20px;margin:8px;padding:5px">
                <span class="material-symbols-rounded" style="font-size:20px">navigate_before</span>
            </div>
            <span class="text color-d" style="font-size: 32px;width:200px" id="currentMonthYear">January, 2022</span>
            <div class="container c-border c-hover nextMonth" style="width:20px;height:20px;margin:8px;padding:5px">
                <span class="material-symbols-rounded" style="font-size:20px">navigate_next</span>
            </div>
        </div>
        

        <div style="width:90%;text-align:center;display:inline-block">
            <div style="justify-content:space-between;width:100%" class="daterow">
                <div style="margin:5px;width:10%;display:inline-block"><span class="text" style="font-size:12px">Sunday</span></div>
                <div style="margin:5px;width:10%;display:inline-block"><span class="text" style="font-size:12px">Monday</span></div>
                <div style="margin:5px;width:10%;display:inline-block"><span class="text" style="font-size:12px">Tuesday</span></div>
                <div style="margin:5px;width:10%;display:inline-block"><span class="text" style="font-size:12px">Wednesday</span></div>
                <div style="margin:5px;width:10%;display:inline-block"><span class="text" style="font-size:12px">Thursday</span></div>
                <div style="margin:5px;width:10%;display:inline-block"><span class="text" style="font-size:12px">Friday</span></div>
                <div style="margin:5px;width:10%;display:inline-block"><span class="text" style="font-size:12px">Saturday</span></div>
            </div>
            <div style="display:none;justify-content:center;width:90%" class="daterow" data-row="0">
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="0" data-column="0"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="0" data-column="1"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="0" data-column="2"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="0" data-column="3"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="0" data-column="4"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="0" data-column="5"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="0" data-column="6"></div>
            </div>
            <div style="display:none;justify-content:center;width:90%" class="daterow" data-row="1">
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="1" data-column="0"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="1" data-column="1"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="1" data-column="2"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="1" data-column="3"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="1" data-column="4"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="1" data-column="5"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="1" data-column="6"></div>
            </div>
            <div style="display:none;justify-content:center;width:90%" class="daterow" data-row="2">
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="2" data-column="0"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="2" data-column="1"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="2" data-column="2"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="2" data-column="3"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="2" data-column="4"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="2" data-column="5"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="2" data-column="6"></div>
            </div>
            <div style="display:none;justify-content:center;width:90%" class="daterow" data-row="3">
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="3" data-column="0"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="3" data-column="1"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="3" data-column="2"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="3" data-column="3"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="3" data-column="4"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="3" data-column="5"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="3" data-column="6"></div>
            </div>
            <div style="display:none;justify-content:center;width:90%" class="daterow" data-row="4">
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="4" data-column="0"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="4" data-column="1"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="4" data-column="2"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="4" data-column="3"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="4" data-column="4"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="4" data-column="5"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="4" data-column="6"></div>
            </div>
            <div style="display:none;justify-content:center;width:90%" class="daterow" data-row="5">
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="5" data-column="0"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="5" data-column="1"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="5" data-column="2"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="5" data-column="3"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="5" data-column="4"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="5" data-column="5"></div>
                <div class="container c-slighterborder dateitem" style="margin:5px;width:10%;height:80px" data-row="5" data-column="6"></div>
            </div>
        </div>
    </div>
    <div class="blockitem" data-partof="manage" data-num="3" style="width:100%;display:none">
        <span class="text">All QuickLinks</span>
        <div class="container c-border c-hover" style="padding:5px;margin:5px" id="create_quicklink">
            <span class="material-symbols-rounded" style="font-size:16px;pointer-events:none">add</span>
        </div>
        <div id="linkItems" style="margin:20px"></div>
    </div>
    <div data-partof="manage" data-num="4" class="blockitem" style="display:none;padding-bottom:80px">
        <div style="width:56%;display:inline-block">
            <div class="container c-slightborder" style="width:90%;padding:20px" id="chatViewer">
                <div style="width:100%;border-radius:20px;background-color:#eeeeee;height:60vh;margin-bottom:10px;padding-top:10px;overflow-y:scroll" id="messages">
                    

                </div>
                
                <div style="width:100%;display:flex;justify-content:space-between;align-items:center">
                    <textarea class="input" style="width:80%;resize:none;vertical-align:center;font-size:12px" id="group_newMessage" placeholder="Your Message..."></textarea>
                    <div class="container c-border c-hover" style="padding:5px;margin:5px;vertical-align:center;display:inline-flex;width:20px;height:20px;justify-content:center;align-items:center" id="group_sendMessage">
                        <span class="material-symbols-rounded" style="font-size:16px;pointer-events:none">send</span>
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>




    
    <div style="display:none" id="editMeeting"></div>
    <div style="display:none" id="createMeeting"></div>
    <div style="display:none" id="deleteMeeting"></div>
</div>

<script>
    Array.from(document.getElementsByClassName("mainlogo")).forEach(e => {
        if(!e.classList.contains("logospin")){
            e.classList.add("logospin");
        }
        
    })

    var me = undefined;
    $.ajax({
        url: '/acc/verify',
        type: 'GET',
        success: function(data){
            data = JSON.parse(data);
            if(data["successful"]){
                me = data["user"];
                reloadUsers();
            }
        }
    })
    var currentItems = [];
    var currentLinks = [];
    var currentMeetings = [];
    var authId = "";
    var dropdowns = [];
    var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
    let now = new Date();
    var currentMonth = now.getMonth();
    var currentYear = now.getFullYear();

    function daysInMonth(month, year) {
        return new Date(year, month, 0).getDate();
    }

    function setDateArray(){
        document.getElementById("currentMonthYear").innerHTML = months[currentMonth] + ", " + currentYear;
        var firstDay = new Date(currentYear, currentMonth, 1);
        var start = firstDay.getDay();
        for(var i = 0; i < 6; i++){
            document.querySelector(".daterow[data-row='" + i + "']").style.display = "none";
            for(var j = 0; j < 7; j++){
                document.querySelector(".dateitem[data-row='"+i+"'][data-column='"+j+"']").innerHTML = ``;
                document.querySelector(".dateitem[data-row='"+i+"'][data-column='"+j+"']").style.opacity = "0.2";
            }
        }

        var days = daysInMonth(currentMonth+1, currentYear);
        for(var i = 1; i <= days; i++){
            var row = Math.floor(start/7);
            var column = start%7;
            
            start+=1;
            document.querySelector(".daterow[data-row='" + row + "']").style.display = "inline-flex";
            document.querySelector(".dateitem[data-row='"+row+"'][data-column='"+column+"']").innerHTML = `<span class="text" style="font-size:12px;text-align:left;display:block;pointer-events:none">${i}</span>
                `;
                document.querySelector(".dateitem[data-row='"+row+"'][data-column='"+column+"']").dataset.date = currentYear + "-" + (currentMonth+1).toString().padStart(2, "0") + "-" + i.toString().padStart(2, "0");
            document.querySelector(".dateitem[data-row='"+row+"'][data-column='"+column+"']").style.opacity = "1";
            var meetings = currentMeetings.filter(m => new Date(m["datetime"]).getDate() == i && new Date(m["datetime"]).getMonth() == currentMonth && new Date(m["datetime"]).getFullYear() == currentYear);
            meetings = meetings.sort((a, b) => {
                return new Date(a["datetime"]) - new Date(b["datetime"]);
            });

            for(var m = 0; m < meetings.length; m++){
                var meeting = meetings[m];
                var time = (new Date(meeting["datetime"]).getHours() > 12 ? new Date(meeting["datetime"]).getHours()-12 : new Date(meeting["datetime"]).getHours()) + ":" + new Date(meeting["datetime"]).getMinutes().toString().padStart(2, "0");

                var am = new Date(meeting["datetime"]).getHours() < 12;


                if(meetings.length > 2){
                    document.querySelector(".dateitem[data-row='"+row+"'][data-column='"+column+"']").innerHTML += `
                    <div class="container c-border c-hover meetingitem" style="margin:2px 2px;padding:4px;font-size:12px;width:34%;font-size:10px" data-num="${currentMeetings.indexOf(meeting)}" title="${meeting["title"]}">
                        ${time}<span style="font-size:8px">${am ? "AM" : "PM"}</span>
                    </div>
                    `;
                }else{
                    document.querySelector(".dateitem[data-row='"+row+"'][data-column='"+column+"']").innerHTML += `
                    <div class="container c-border c-hover meetingitem" style="margin:2px 2px;padding:4px;font-size:12px;width:80%;font-size:12px" data-num="${currentMeetings.indexOf(meeting)}" title="${meeting["title"]}">
                        ${time}<span style="font-size:10px">${am ? "AM" : "PM"}</span> (${meeting["length"]}h)
                    </div>
                    `;
                }
                
            }
            
            
        }
        Array.from(document.getElementsByClassName("meetingitem")).forEach(di => {
            di.addEventListener("click", function(evt){
                evt.stopPropagation();
                document.getElementById("externalClickAction").dataset.action = "overlay";
                document.getElementById("externalClickAction").dataset.overlay = "see_meeting";
                var meeting = currentMeetings[parseInt(evt.srcElement.dataset.num)];
                var stats = {
                    meeting: meeting,
                    action: "see",
                    number: parseInt(evt.srcElement.dataset.num)+1
                }
                document.getElementById("externalClickAction").dataset.data = JSON.stringify(stats);
                document.getElementById("overlay_done").dataset.sendback = "editMeeting";
                document.getElementById("externalClickAction").click();
            })
        })
    }
    setDateArray();

    Array.from(document.getElementsByClassName('nextMonth')).forEach(function(element){
        element.addEventListener('click', function(){
            currentMonth+=1;
            if(currentMonth > 11){
                currentMonth = 0;
                currentYear+=1;
            }
            setDateArray();
        });
    });
    Array.from(document.getElementsByClassName('prevMonth')).forEach(function(element){
        element.addEventListener('click', function(){
            currentMonth-=1;
            if(currentMonth < 0){
                currentMonth = 11;
                currentYear-=1;
            }
            setDateArray();
        });
    });

    document.getElementById("create_item").addEventListener("click", function(evt){
        item = {
            "title": "",
            "contents": "",
            "show": false,
            "icon": "favorite",
            "result": {
                "to": "static",
                "data": ""
            },
            "subgroups": ["*"],
            "action": "create"
        };
        $.ajax({
            url: "/group/item",
            type: "POST",
            data: item,
            headers: {authorization: authId},
            success: function(data) {
                getMenuItems();
            }
        })
    });

    document.getElementById("create_quicklink").addEventListener("click", function(evt){
        item = {
            name: "",
            to: "/",
            restricted: true,
            from: "/",
            "action": "create"
        };
        $.ajax({
            url: "/group/link",
            type: "POST",
            data: item,
            headers: {authorization: authId},
            success: function(data) {
                getLinkItems();
            }
        })
    });


    function reloadAllBaseEvents(){
        

        Array.from(document.getElementsByClassName("delete")).forEach(e => {
            e.addEventListener("click", function(evt){
                var id = parseInt(evt.srcElement.dataset.partof);
                id = currentItems[id]["_id"];
                $.ajax({
                    url: "/group/item",
                    type: "POST",
                    data: {
                        action: "delete",
                        _id: id
                    },
                    headers: {authorization: authId},
                    success: function(data) {
                        getMenuItems();
                    }
                })
            });
        });

        Array.from(document.getElementsByClassName("dropdown")).forEach(e => {

            var val = e.dataset.value;
            var partof = e.dataset.partof;
            if(val != undefined && val != null && val != ""){
                var option = e.querySelector(`.dropdown_option[data-partof="${partof}"][value="${val}"]`);
                if(option != undefined && option != null){
                    document.querySelector(`.dropdown_text[data-partof="${partof}"]`).innerHTML = option.innerHTML;
                    document.querySelector(`.dropdown_text[data-partof="${partof}"]`).style.opacity = 1;
                }
            }

            e.addEventListener("click", function(evt){
                var partof = evt.srcElement.dataset.partof;
                
                var elementLoc = evt.srcElement.getBoundingClientRect();
                var documentRect = document.body.getBoundingClientRect();
                var existing = document.querySelector(`.dropdown_option_container[data-partof="${partof}"]`)
                if(existing == undefined || existing == null){
                    var newElement = document.createElement("div");
                    newElement.classList.add("dropdown-content");
                    newElement.dataset.partof = partof;
                    newElement.style.position = "absolute";
                    newElement.style.top = elementLoc.top-90+80 + "px" + window.scrollY;
                    newElement.dataset.normY = elementLoc.top-90+80;
                    newElement.style.left = elementLoc.left+(elementLoc.width/2)+10 + "px";
                    
                    newElement.style.transform = "translateX(-50%)";

                    var addHTML = "";
                    var options = Array.from(document.querySelectorAll(`.dropdown_option[data-partof="${partof}"]`));

                    for(var i = 0; i < options.length; i++){
                        var e = options[i];
                        addHTML += `
                        <div data-value="${e.value}" data-partof="${partof}" style="padding:5px 0px;width:100%;border-radius:8px;margin:2px 0px" class="dropdown_option_show transition">
                            ${e.innerHTML}
                        </div>
                        `;
                    }

                    newElement.innerHTML = `
                    <div class="container c-slightborder dropdown_option_container" style="width:${(elementLoc.width-20) + "px"};border-radius:16px" data-partof="${partof}">
                        ${addHTML}
                    </div>
                    `
                    
                    evt.srcElement.appendChild(newElement)
                }else{
                    if(evt.srcElement.classList.contains("dropdown_option_show")){
                        console.log("AAA");
                        var newValue = evt.srcElement.dataset.value;
                        var newText = evt.srcElement.innerHTML;
                        document.querySelector(`.dropdown[data-partof="${partof}"]`).dataset.value = newValue;
                        document.querySelector(`.dropdown_text[data-partof="${partof}"]`).innerHTML = newText;
                        document.querySelector(`.dropdown_text[data-partof="${partof}"]`).style.opacity = "1";
                    }
                    existing.remove();
                }
            
                
            });
        });

        Array.from(document.getElementsByClassName("bounce")).forEach(e => {
            e.addEventListener("click", function() {
                if(!e.classList.contains("bounce-on")){
                    e.classList.add("bounce-on");
                    setTimeout(function() {
                        e.classList.remove("bounce-on");
                    }, 600);
                }
                
            });
        });

        Array.from(document.getElementsByClassName("link")).forEach(e => {
            e.addEventListener("click", function(evt) {
                window.open(evt.srcElement.dataset.link, '_blank');
            });
        });

        Array.from(document.getElementsByClassName("checkbox")).forEach(e => {
            e.addEventListener("click", function(evt){
                if(evt.srcElement.dataset.checked == "NO"){
                    evt.srcElement.style.backgroundColor = "#4708c4";
                    evt.srcElement.dataset.checked = "YES";
                }else{
                    evt.srcElement.style.backgroundColor = "white";
                    evt.srcElement.dataset.checked = "NO";
                }
            });
        });

        document.getElementById("contentToShow").style.opacity = 1;
        Array.from(document.getElementsByClassName("mainlogo")).forEach(e => {
            if(e.classList.contains("logospin")){
                e.classList.remove("logospin");
            }
            
        })

        Array.from(document.getElementsByClassName("iconedit")).forEach(e => {
            e.addEventListener("change", function(evt) {
                var partof = evt.srcElement.dataset.partof;
                document.querySelector(".iconshow[data-partof='" + partof + "']").innerHTML = evt.srcElement.value;
            });
        });

        
        Array.from(document.getElementsByClassName("blockcontrol")).forEach(e => {
            e.addEventListener("click", function(evt) {
                var num = evt.srcElement.dataset.num;
                var partof = evt.srcElement.dataset.partof;
    
                Array.from(document.querySelectorAll(".blockitem[data-partof='" + partof + "']")).forEach(e => {
                    if(e.dataset.num == num){
                        e.style.display = "block";
                    }else{
                        e.style.display = "none";
                    }
                });
    
                Array.from(document.querySelectorAll(".blockcontrol[data-partof='" + partof + "']")).forEach(e => {
                    if(e.dataset.num == num){
                        e.style.backgroundColor = "#4708c4";
                        e.children[0].style.color = "white";
                    }else{
                        e.style.backgroundColor = "";
                        e.children[0].style.color = "";
                    }
                });
            });
        });
    }

    Array.from(document.getElementsByClassName("dateitem")).forEach(di => {
        di.addEventListener("click", function(evt){
            document.getElementById("externalClickAction").dataset.action = "overlay";
            document.getElementById("externalClickAction").dataset.overlay = "create_meeting";
            document.getElementById("overlay_done").dataset.sendback = "createMeeting";
            document.getElementById("externalClickAction").dataset.data = JSON.stringify({
                "date": evt.srcElement.dataset.date,
            })
            document.getElementById("externalClickAction").click();
        })
    })
    var users = [];
    
    function reloadUsers(){
        $.ajax({
            url: '/group/users',
            type: 'GET',
            success: function(data){
                data = JSON.parse(data);
                if(data["successful"]){
                    
                    users = data["items"]
                    reloadMessages();
                }
            }
        })
    }
    


    var messages = undefined;
    document.getElementById("group_sendMessage").addEventListener('click', function(){
        var message = document.getElementById("group_newMessage").value;

        if(message != ""){
            $.ajax({
                url: "/group/announcement",
                type: "POST",
                data: {
                    "message": message
                },
                success: function(data){
                    console.log("Message Sent")
                    document.getElementById("group_newMessage").value = "";
                    reloadMessages();
                }
            })
        }
    })
    function reloadMessages(){
        $.ajax({
            url: '/group/announcements',
            type: 'GET',
            success: function(data){
                data = JSON.parse(data);
                if(data["successful"]){
                    messages = data["messages"];

                    var fHTML = "";
                    var lastSender = "";
                    messages.forEach(m => {
                        var showSender = m["sender"] != lastSender;
                        var sender = users.find(u => u.id == m["sender"]);
                        var isSender = m["sender"] == me.id;

                        fHTML += `
                        <div style="width: 100%;text-align:${isSender ? "right" : "left"}">
                            <div style="margin: 10px 20px;">
                                ${showSender ? `<span class="color-g" style="font-size: 10px;display:block;margin:2px;margin-left:5px">${sender["username"]}</span>` : ""}
                                <div style="background-color: ${isSender ? "#a77aff" : "#bbbbbb"};padding:10px;max-width:70%;border-radius:8px;display:inline-block">
                                    <span class="color-w" style="font-size: 12px;display:block;word-wrap:break-word">${m["message"]}</span>
                                </div>
                            </div>
                            
                        </div>
                        
                        `;



                        lastSender = m["sender"];
                    })
                    document.getElementById("messages").innerHTML = fHTML;
                }
            }
        })
    }


    function getMeetingItems(){
        $.ajax({
            url: "/group/meetings",
            success: function(data){
                data = JSON.parse(data);
                if(data["successful"]){
                    
                    currentMeetings = data["items"];
                    setDateArray();

                    Array.from(document.getElementsByClassName("dateitem")).forEach(di => {

                    });
                }
            }
        })
    }

    function getLinkItems(){
        $.ajax({
            url: "/group/links",
            success: function(data){
                data = JSON.parse(data);
                console.log(data);
                if(data["successful"]){
                    var host = window.location.host;
                    console.log(host)
                    document.getElementById("linkItems").innerHTML = "";
                    currentLinks = data["items"];
                    var id = 0;
                    data["items"].forEach(i => {
                        document.getElementById("linkItems").innerHTML += `
                        <div class="container c-slightborder linkitem" style="width:70%;padding:20px;margin-bottom:20px">
                            <div class="blockitem" data-partof="${id}l" data-num="0">
                                <div style="width:20%;display:inline-block;vertical-align:middle">
                                    <div class="container c-border c-hover blockcontrol" style="padding:5px;margin:1px" data-partof="${id}l" data-num="1">
                                        <span class="material-symbols-rounded" style="font-size:16px">edit</span>
                                    </div>
                                    <div class="container c-border c-hover blockcontrol generateqr" style="padding:5px;margin:1px" data-partof="${id}l" data-num="2">
                                        <span class="material-symbols-rounded" style="font-size:16px">qr_code</span>
                                    </div>
                                    <div class="container c-border c-hover deletel" style="padding:5px;margin:1px" data-partof="${id}l" data-num="${id}">
                                        <span class="material-symbols-rounded" style="font-size:16px">delete</span>
                                    </div>
                                </div>
                                <div style="width:78%;display:inline-block;vertical-align:middle">
                                    <span class="text color-d" style="display:block;font-size:24px;margin:5px">${i["name"]}</span>
                                    <span class="text color-m" style="display:block;font-size:16px;margin:5px"><i>/ql/${i["from"]} > ${i["to"]}</i></span>
                                </div>
                            </div>
                            <div class="blockitem" data-partof="${id}l" data-num="1" style="display:none">
                                <div>
                                    <div style="width:160px;display:inline-block;text-align:left">
                                        <span class="text color-d" style="font-size:14px;font-weight:500;margin-right:5px;">Link Name</span>
                                    </div>
                                    <input type="text" class="text color-d input form_name" data-partof="${id}l" style="display:inline-block;font-size:16px;margin:5px;width:50%;padding:14px;vertical-align:middle" value="${i["name"]}" placeholder="Cool Link!">
                                </div>
                                <div>
                                    <div style="width:160px;display:inline-block;text-align:left">
                                        <span class="text color-d" style="font-size:14px;font-weight:500;margin-right:5px;">Go From Path (/ql/...)</span>
                                    </div>
                                    <input type="text" class="text color-d input form_from" data-partof="${id}l" style="display:inline-block;font-size:16px;margin:5px;width:50%;padding:14px;vertical-align:middle" value="${i["from"]}" placeholder="From...">
                                </div>
                                <div>
                                    <div style="width:160px;display:inline-block;text-align:left">
                                        <span class="text color-d" style="font-size:14px;font-weight:500;margin-right:5px;">Go To</span>
                                    </div>
                                    <input type="text" class="text color-d input form_to" data-partof="${id}l" style="display:inline-block;font-size:16px;margin:5px;width:50%;padding:14px;vertical-align:middle" value="${i["to"]}" placeholder="To...">
                                </div>
                                
                                <div>
                                    <div class="checkbox transition" data-partof="${id}l" style="display:inline-block;vertical-align:middle;${i["restricted"] ? "background-color:#4708c4" : ""}" data-checked="${i["restricted"] ? "YES" : "NO"}">
                                        
                                    </div>
                                    <span class="text color-d" style="display:inline-block;font-size:16px;margin:10px;vertical-align:middle">Restricted to ${i["group"]}</span>
                                </div>
                                <br/>
                                <div class="container c-border c-hover blockcontrol color-m savel" data-partof="${id}l" data-num="0" style="padding:10px 50px 10px 50px;margin:10px">
                                    Save
                                </div>
                                <div class="container c-border-gray blockcontrol color-g c-hover-gray" data-partof="${id}l" data-num="0" style="padding:10px 50px 10px 50px;margin:10px" data-partof="${id}">
                                    Cancel
                                </div>
                            </div>
                            <div class="blockitem" data-partof="${id}l" data-num="2" style="display:none">
                                
                                    <div style='border:6px solid #4708c4;padding:20px;background-color:white;border-radius:16px;display:inline-block'>
                                        <div class="qrcode" data-partof="${id}l" style="margin-bottom:16px"></div>
                                        <span class="text color-w" style='font-size:12px;font-weight:500;text-overflow:ellipsis;background-color:#2b047a;padding:4px 0px;width:100%;border-radius:4px;display:block'><i>${i["name"]}</i></span>
                                    </div>
                                    
                                <br/>
                                <div class="container c-border-gray blockcontrol color-g c-hover-gray hideqr" data-partof="${id}l" data-num="0" style="padding:10px 50px 10px 50px;margin:10px" data-partof="${id}">
                                    Done
                                </div>
                            </div>
                        </div>
                        `;
                        var lid = id;
                        setTimeout(function(){
                            QrCreator.render({
                                text: host + "/ql/" + i["from"],
                                radius: 0.2, // 0.0 to 0.5
                                ecLevel: 'H', // L, M, Q, H
                                fill: '#2b047a', // foreground color
                                background: null, // color or null for transparent
                                size: 160 // in pixels
                              }, document.querySelector(`.qrcode[data-partof="${lid}l"]`));
                        }, 1000)
                        
                        id+=1;
                    });

                    
                    

                    Array.from(document.getElementsByClassName("deletel")).forEach(e => {
                        e.addEventListener("click", function(evt){
                            var partof = evt.srcElement.dataset.partof.substring(0, evt.srcElement.dataset.partof.length - 1);
                            var item =  currentLinks[parseInt(partof)];

                            var deletedata = {
                                _id: item._id,
                                action: "delete"
                            }
                            $.ajax({
                                url: "/group/link",
                                type: "POST",
                                data: deletedata,
                                headers: {authorization: authId},
                                success: function(data) {
                                    getLinkItems();
                                }
                            })
                        })
                    })

                    Array.from(document.getElementsByClassName("savel")).forEach(e => {
                        e.addEventListener("click", function(evt){
                            var partof = evt.srcElement.dataset.partof.substring(0, evt.srcElement.dataset.partof.length - 1);
                            var item =  currentLinks[parseInt(partof)];
                            item["name"] = document.querySelector(".form_name[data-partof='" + partof + "l']").value;
                            item["to"] = document.querySelector(".form_to[data-partof='" + partof + "l']").value;
                            item["from"] = document.querySelector(".form_from[data-partof='" + partof + "l']").value;
                            item["restricted"] = document.querySelector(".checkbox[data-partof='" + partof + "l']").dataset.checked == "YES" ? true : false;
                            item["action"] = "edit";
                            $.ajax({
                                url: "/group/link",
                                type: "POST",
                                data: item,
                                headers: {authorization: authId},
                                success: function(data) {
                                    getLinkItems();
                                }
                            })
            
            
                        });
                    });
                    reloadAllBaseEvents();
                }
            }
        })
    }

    function getMenuItems(){
        $.ajax({
            url: "/group/items",
            headers: {authorization : authId, group: ""},
            success: function(data){
                data = JSON.parse(data);
                if(data["successful"]){
                    document.getElementById("items").innerHTML = ``;
                    var id = 0;
                    currentItems = data["items"];

                    

                    data["items"].forEach(i => {
                        
                        document.getElementById('items').innerHTML += `
                        <div class="container c-slightborder item" style="width:60%;padding:20px;margin-bottom:20px">
                            <div class="blockitem" data-partof="${id}c" data-num="0">
                                <div style="width:14%;display:inline-block;vertical-align:middle">
                                    <div class="c-border bounce" style="border-radius: 60px;border-width:4px;background-color:#4708c4;width:4.5vw;height:4.5vw;display:inline-block;opacity:${i["show"] ? "1" : ".5"}">
                                        <span class="material-symbols-rounded color-w" style="width:50%;margin-top:24%;font-size:2.3vw">${i["icon"]}</span>
                                    </div>
                                    <br/>
                                    <div class="container c-border c-hover blockcontrol" style="padding:5px;margin:1px" data-partof="${id}c" data-num="1">
                                        <span class="material-symbols-rounded" style="font-size:16px">edit</span>
                                    </div>
                                    <div class="container c-border c-hover delete" style="padding:5px;margin:1px" data-partof="${id}" data-num="1">
                                        <span class="material-symbols-rounded" style="font-size:16px">delete</span>
                                    </div>
                                    ${
                                        (i["details"] != undefined && i["details"]["end"] != undefined) ?
                                            `<br/>
                                            <div class="c-border bounce" style="padding:5px 0px;background-color:#4708c4;display:inline-block;margin-top:5px;width:4.5vw">
                                                <span class="color-w" style="font-size:1vw">3 days</span>
                                            </div>` : ``
                                    }
                                    
                                </div>
                                <div style="width:84%;display:inline-block;vertical-align:middle">
                                    <span class="text color-d" style="display:block;font-size:30px;margin:10px">${i["title"]}</span>
                                    <span class="text color-d" style="display:block;font-weight:500;margin:10px;font-size:16px">${i["contents"]}</span>
                                    
                                    
                                </div>
                                
                            </div>
                            <div class="blockitem" data-partof="${id}c" data-num="1" style="display:none">
                                <div style="width:14%;display:inline-block;vertical-align:middle">
                                    <div class="c-border bounce blockcontrol" data-partof="${id}" data-num="0" style="border-radius: 60px;border-width:4px;background-color:#4708c4;width:4.5vw;height:4.5vw;display:inline-block;margin-bottom:10px;margin-top:20px">
                                        <span class="material-symbols-rounded color-m" style="width:50%;margin-top:24%;font-size:2.3vw;color:white">article</span>
                                    </div>
                                    <div class="c-border bounce blockcontrol" data-partof="${id}" data-num="1" style="border-radius: 60px;border-width:4px;background-color:transparent;width:4.5vw;height:4.5vw;display:inline-block;margin-bottom:10px">
                                        <span class="material-symbols-rounded color-m" style="width:50%;margin-top:24%;font-size:2.3vw">auto_awesome</span>
                                    </div>
                                    <div class="c-border bounce blockcontrol" data-partof="${id}" data-num="2" style="border-radius: 60px;border-width:4px;background-color:transparent;width:4.5vw;height:4.5vw;display:inline-block;margin-bottom:20px">
                                        <span class="material-symbols-rounded color-m" style="width:50%;margin-top:24%;font-size:2.3vw">bolt</span>
                                    </div>
                                    ${
                                        (i["details"] != undefined && i["details"]["end"] != undefined) ?
                                            `<br/>
                                            <div class="c-border bounce" style="padding:5px 0px;background-color:#4708c4;display:inline-block;margin-top:5px;width:4.5vw">
                                                <span class="color-w" style="font-size:1vw">3 days</span>
                                            </div>` : ``
                                    }
                                    
                                </div>
                                <div style="width:84%;display:inline-block;vertical-align:middle">
                                    <div class="blockitem" data-partof="${id}" data-num="0" style="display:block">
                                        <input type="text" class="text color-d input form_title" style="display:block;font-size:30px;margin:10px;width:100%;padding:14px" value="${i["title"]}" placeholder="Title" data-partof="${id}">
                                        <textarea type="text" class="text color-d input form_contents" style="display:block;font-size:16px;margin:10px;width:100%;font-weight:500;resize:none;height:100px;border-radius:30px;padding:14px" placeholder="Contents" data-partof="${id}">${i["contents"]}</textarea>
                                    </div>
                                    <div class="blockitem" data-partof="${id}" data-num="1" style="display:none">
                                        <div>
                                            <div class="checkbox transition" data-partof="${id}" style="display:inline-block;vertical-align:middle;${i["show"] ? "background-color:#4708c4" : ""}" data-checked="${i["show"] ? "YES" : "NO"}">
                                                
                                            </div>
                                            <span class="text color-d" style="display:inline-block;font-size:16px;margin:10px;vertical-align:middle">Show Card</span>
                                        </div>
                                        
                                        <span class="material-symbols-rounded iconshow color-m" data-partof="${id}" style="font-size:28px;vertical-align:middle">${i["icon"]}</span>
                                        <input type="text" class="text color-d input iconedit" data-partof="${id}" style="display:inline-block;font-size:20px;margin:10px;width:50%;padding:14px;vertical-align:middle" value="${i["icon"]}" placeholder="Icon">

                                        
                                    </div>
                                    <div class="blockitem" data-partof="${id}" data-num="2" style="display:none">
                                        
                                        <div style="display: inline-flex;align-items: center;justify-content:center;width:100%">
                                            <div class="container c-border dropdown form_actiontype" data-partof="dropdown${id}" style="cursor:pointer;style="display:inline-block;vertical-align:middle" data-value="${i["result"]["to"]}">
                                                <span class="dropdown_text" style="float:left;margin-right:20px;opacity:0.5;margin-left:5px;pointer-events:none" data-partof="dropdown${id}">Select an Option</span>
                                                <span class="material-symbols-rounded color-d dropdown_icon" style="float:right;font-size:20px" data-partof="dropdown${id}">expand_more</span>
                                                <option class="dropdown_option" style="display:none" data-partof="dropdown${id}" value="link">Link</option>
                                                <option class="dropdown_option" style="display:none" data-partof="dropdown${id}" value="action">Action</option>
                                                <option class="dropdown_option" style="display:none" data-partof="dropdown${id}" value="static">Static</option>
                                                <option class="dropdown_option" style="display:none" data-partof="dropdown${id}" value="vote">Vote</option>
                                            </div>
                                            <input type="text" class="text color-d input form_actionto" style="display:inline-block;font-size:14px;margin:10px;width:50%;vertical-align:middle" value="${i["result"]["data"]}" placeholder="To..." data-partof="${id}">
                                        </div>
                                    </div>
                                    <div class="container c-border blockcontrol save color-m c-hover" data-partof="${id}c" data-num="0" style="padding:10px 50px 10px 50px;margin:10px" data-partof="${id}">
                                        Save
                                    </div>
                                    <div class="container c-border-gray blockcontrol color-g c-hover-gray" data-partof="${id}c" data-num="0" style="padding:10px 50px 10px 50px;margin:10px" data-partof="${id}">
                                        Cancel
                                    </div>
                                    
                                </div>
                            </div>
                            
                            
                            
                        </div>
                        
                        `
                        id+=1;
                    });
                    Array.from(document.getElementsByClassName("save")).forEach(e => {
                        e.addEventListener("click", function(evt){
                            var partof = evt.srcElement.dataset.partof.substring(0, evt.srcElement.dataset.partof.length - 1);
                            var item =  currentItems[parseInt(partof)];
                            item["title"] = document.querySelector(".form_title[data-partof='" + partof + "']").value;
                            item["contents"] = document.querySelector(".form_contents[data-partof='" + partof + "']").value;
                            item["icon"] = document.querySelector(".iconedit[data-partof='" + partof + "']").value;
                            item["result"]["data"] = document.querySelector(".form_actionto[data-partof='" + partof + "']").value;
                            item["result"]["to"] = document.querySelector(".form_actiontype[data-partof='dropdown" + partof + "']").dataset.value;
                            item["show"] = document.querySelector(".checkbox[data-partof='" + partof + "']").dataset.checked == "YES" ? true : false;
                            item["action"] = "edit";
                            console.log(item);
                            $.ajax({
                                url: "/group/item",
                                type: "POST",
                                data: item,
                                headers: {authorization: authId},
                                success: function(data) {
                                    getMenuItems();
                                },
                                error: function(data){
                                    document.getElementById("showErrorMessage").click();
                                }
                            })
            
                            console.log(item);
            
                        });
                    });
                    reloadAllBaseEvents();
                    
                    
                }
            }
        })
    }

    document.getElementById("editMeeting").addEventListener("click", function(evt){
        var data = JSON.parse(evt.srcElement.innerHTML);
        data.action = "edit";
        data.datetime = new Date(data.date + "T" + data.time);
        data.code = "12345";
        console.log(data._id);
        $.ajax({
            url: "/group/meeting",
            type: "POST",
            data: data,
            success: function(data){
                getMeetingItems();
            }
        })
    })

    document.getElementById("deleteMeeting").addEventListener("click", function(evt){
        var data = JSON.parse(evt.srcElement.innerHTML);
        data.action = "delete";
        $.ajax({
            url: "/group/meeting",
            type: "POST",
            data: data,
            success: function(data){
                getMeetingItems();
            }
        })
    })

    document.getElementById("createMeeting").addEventListener("click", function(evt){
        console.log(evt.srcElement.innerHTML);
        var data = JSON.parse(evt.srcElement.innerHTML);
        data.action = "create";
        data.datetime = new Date(data.date + "T" + data.time);
        data.code = "12345";
        console.log(data._id);
        $.ajax({
            url: "/group/meeting",
            type: "POST",
            data: data,
            success: function(data){
                getMeetingItems();
            }
        })
    })

    document.addEventListener('scroll', function(evt){
        dropdowns.forEach(d => {
            var originalY = d.dataset.normY;
            originalY.style.top = parseInt(originalY) + window.scrollY;
        });
    });
    
    getLinkItems();
    getMenuItems();
    getMeetingItems();
    
</script>