<link rel="stylesheet" href="/reveal.js/dist/reveal.css">
<link rel="stylesheet" href="/reveal.js/dist/theme/white.css">
<div class="transition" style="display: inline-block;width:100%;z-index:20;height:100%" id="contentToShow">
    <div id="big" style="position: absolute;top:-110;left:0;width:100%;height:100%;background-color:black;display:none">

    </div>
    <div id="normal">
        <div class="slides" style="height:100%;aspect-ratio:16 / 9;display:inline-block;background-color:black;max-width:100%" id="slides">
          
        </div>
    </div>
    
    <br/>
    <div class="container c-border c-hover" style="padding:10px 20px 10px 20px" id="fullscreen">
        Enable Fullscreen
    </div>
    <div class="container c-border c-hover" style="padding:10px 20px 10px 20px" id="largescreen">
        Big Mode
    </div>
    <script src="/reveal.js/dist/reveal.js"></script>
    <script>

        document.getElementById("largescreen").addEventListener("click", function(evt){
            document.getElementById("big").appendChild(document.getElementById("slides"));
            document.getElementById("normal").style.display = "none";
            document.getElementById("big").style.display = "";

        })
        document.getElementById("fullscreen").addEventListener("click", function(evt){
            var elem = evt.srcElement;
            var fs = document.getElementById("normal");
            
            if (elem.requestFullscreen) {
                fs.requestFullscreen();
              } else if (elem.webkitRequestFullscreen) { /* Safari */
                fs.webkitRequestFullscreen();
              } else if (elem.msRequestFullscreen) { /* IE11 */
                fs.msRequestFullscreen();
              }
        });


        var slides = [];
        var currentSlideNum = 1;

        $(document).ready(() => {
            document.getElementById('contentToShow').style.opacity = 1;

            $.ajax({
                url: "/group/presentation",
                // put presentation ID from link here
                success: function(data){
                    data = JSON.parse(data);
                    console.log(data);
                    if(data["successful"]){
                        var slideNum = 0;
                        slides = data["presentation"]["slides"];
                        data["presentation"]["slides"].forEach(i => {
                            var slide = document.createElement("div");
                            slide.className = "slide";
                            slide.dataset.num = slideNum+1;
                            slide.style.display = "none";
                            slide.style.height = "100%";
                            slide.style.aspectRatio = "16/9";
                            document.getElementsByClassName("slides")[0].appendChild(slide);
                            slide.innerHTML = i["HTML"];
                            slide.style.objectFit = "contain";
                            slide.style.backgroundColor = i["background"];

                            var divRect = document.getElementById("slides").getBoundingClientRect();

                            Array.from(slide.getElementsByClassName("item")).forEach(i => {
                                var ratioOfChangeX = (divRect.width/i.dataset.origWC);
                                var ratioOfChangeY = (divRect.height/i.dataset.origHC);
                                i.style.width = (i.dataset.origW*ratioOfChangeX) + "px";
                                i.style.height = (i.dataset.origH*ratioOfChangeY) + "px";
                                i.style.left = (divRect.left + i.dataset.origX*ratioOfChangeX) + "px";
                                i.style.top = (divRect.top-110 + i.dataset.origY*ratioOfChangeY) + "px";
                            })
                            
                            slideNum += 1;
                        });
                        document.querySelector(".slide[data-num='1']").style.display = "";
                        
                        //Reveal.sync();
                    }
                }
            })

            
        });
        
        window.addEventListener("resize", function(evt){
            var sN = 1;
            var divRect = document.getElementById("slides").getBoundingClientRect();
            slides.forEach(s => {
                var cSlide = document.querySelector(".slide[data-num='"+sN+"']");
                Array.from(cSlide.getElementsByClassName("item")).forEach(i => {
                    var ratioOfChangeX = (divRect.width/i.dataset.origWC);
                    var ratioOfChangeY = (divRect.height/i.dataset.origHC);
                    i.style.width = (i.dataset.origW*ratioOfChangeX) + "px";
                    i.style.height = (i.dataset.origH*ratioOfChangeY) + "px";
                    i.style.left = (divRect.left + i.dataset.origX*ratioOfChangeX) + "px";
                    i.style.top = (divRect.top-110 + i.dataset.origY*ratioOfChangeY) + "px";
                })



                sN += 1;
            })
        })
        document.addEventListener("keydown", function(evt){
            if(evt.keyCode == 37){
                if(currentSlideNum > 1){
                    currentSlideNum -= 1;
                }

                
                

            }
            else if(evt.keyCode == 39){
                if(currentSlideNum < slides.length){
                    currentSlideNum += 1;
                }
                
            
            }

    
        });


    </script>
</div>
