<div class="transition" style="display: inline-block;width:100%;opacity:0;padding-top:40px" id="contentToShow">
    <div style="position: fixed;bottom:0;left:20px;z-index:999">
        <div style="display:inline-flex;justify-content:center">
            <div class="container c-border c-hover blockcontrol" style="padding:10px 50px 10px 50px;border-radius:8px 0px 0px 0px;border-width:2px 1px 2px 2px" data-partof="subgroup" data-num="1">
                <span style="pointer-events: none">My Subgroup</span>
            </div>
            <div class="container c-border c-hover blockcontrol" style="padding:10px 50px 10px 50px;border-radius:0px;border-width:2px 1px 2px 1px" data-partof="subgroup" data-num="2">
                <span style="pointer-events: none">Members</span>
            </div>
            <div class="container c-border c-hover blockcontrol" style="padding:10px 50px 10px 50px;border-radius:0px 8px 0px 0px;border-width:2px 2px 2px 1px" data-partof="subgroup" data-num="3">
                <span style="pointer-events: none">Meetings</span>
            </div>
        </div>
    </div>
    <div style="position: fixed;bottom:0;right:20px;z-index:999" id="subgroup_manage_tabButton">
        <div style="display:inline-flex;justify-content:center">
            <div class="container c-border c-hover blockcontrol" style="padding:10px 50px 10px 50px;border-radius:8px 8px 0px 0px;border-width:2px 1px 2px 2px" data-partof="subgroup" data-num="4">
                <span style="pointer-events: none">Subgroup Admin</span>
            </div>
        </div>
    </div>
    <div class="blockitem" data-partof="subgroup" data-num="1" style="width:100%">
        <span class="text color-d subgroup_name" style="font-size: 80px;display:block">Electrical</span>
        <span class="text color-m" id="subgroup_partof" style="font-size: 40px;display:block;font-weight:500">Part of the Lightning Robotics Group</span>
        <div class="subgroup_tag" style="padding:8px 12px;border-radius:8px;background-color:#4708c4;color:white;font-size:24px;display:inline-block;margin:20px">
            TAG
        </div>
        <br/>
        <div class="container c-border-red color-r c-hover-red" style="padding:10px 50px 10px 50px;margin:10px">
            Leave Subgroup
        </div>
        <div style="margin:20px" id="subgroup_items">

        </div>
    </div>
    <div class="blockitem" data-partof="subgroup" data-num="2" style="width:100%;display:none">
        <div style="display:flex;justify-content:space-between;align-items:center">
            <div style="width:36%;text-align:center">
                <div style="display:block;margin:20px">
                    <span class="text color-d" style="display:block;font-size:60px" id="subgroup_totalMembers">29</span>
                    <span class="text" style="display:block">Total Members</span>
                </div>
                <div style="display:block;margin:20px">
                    <span class="text color-d" style="display:block;font-size:60px" id="subgroup_totalProtons">10000</span>
                    <span class="text" style="display:block">Group Protons</span>
                </div>
                
            </div>
            <div style="width:60%">
                <span class="text">Subgroup Leaders</span>
                <div id="subgroup_leaders" style="width:100%;margin:20px">

                </div>
                <span class="text">Subgroup Members</span>
                <div class="container c-border c-hover" style="padding:5px;margin:5px" id="subgroup_manage_memberAdd">
                    <span class="material-symbols-rounded" style="font-size:16px;pointer-events:none">add</span>
                </div>
                <div id="subgroup_members" style="width:100%;margin:20px">

                </div>
            </div>
        </div>
        
        
    </div>
    <div class="blockitem" data-partof="subgroup" data-num="3" style="width:100%;display:none">
        <div style="margin-bottom:20px">
            <div data-partof="attendance" data-num="1" class="container c-border color-d c-hover blockcontrol" style="padding:10px 50px 10px 50px;margin:10px;display:inline-block">
                <span style="pointer-events: none">Meeting Schedule</span>
            </div>
            <div data-partof="attendance" data-num="2" class="container c-border color-d c-hover blockcontrol" style="padding:10px 50px 10px 50px;margin:10px;display:inline-block">
                <span style="pointer-events: none">Meeting Management</span>
            </div>
            <div data-partof="attendance" data-num="3" class="container c-border color-d c-hover blockcontrol" style="padding:10px 50px 10px 50px;margin:10px;display:inline-block">
                <span style="pointer-events: none">Confirm Attendance</span>
            </div>
        </div>
        <div data-partof="attendance" data-num="1" class="blockitem" style="display:none">
            <div style="display:flex;justify-content:space-between;align-items:center">
                <div style="width:36%;text-align:center">
                    <div style="display:block;margin:20px">
                        <span class="text color-d" style="display:block;font-size:60px" id="subgroup_hours">2909</span>
                        <span class="text" style="display:block">Cumulative Meeting Hours</span>
                    </div>
                    <div style="display:block;margin:20px">
                        <span class="text color-d" style="display:block;font-size:60px" id="subgroup_rate">98%</span>
                        <span class="text" style="display:block">Overall Attendance Rate</span>
                    </div>
                    
                </div>
                <div style="width:60%">
                    <span class="text">Next Upcoming Meetings</span>
                    <div id="subgroup_upcoming" style="width:100%;margin:20px">
                        
                    </div>
    
                    <span class="text">Past Meetings</span>
                    <div id="subgroup_past" style="width:100%;margin:20px">
                        
                    </div>
                    
                </div>
            </div>
        </div>
        <div data-partof="attendance" data-num="2" class="blockitem" style="display:none">
            <div style="display:flex;justify-content:space-between;align-items:center">
                <div style="width:36%;text-align:center">
                    <div style="display:block;margin:20px">
                        <span class="text color-d" style="display:block;font-size:60px" id="subgroup_manage_attendRate">50%</span>
                        <span class="text" style="display:block">of Meetings Attended</span>
                    </div>
                    <div style="display:block;margin:20px">
                        <div style="width: 100%">
                            <span class="text color-d material-symbols-rounded" style="display:inline-block;font-size:80px;padding:10px;margin:10px;border:4px solid #2b047a;border-radius:16px" id="subgroup_manage_standing">check</span>
                        </div>
                        
                        <span class="text" style="display:block">Subgroup Meeting Standing</span>
                    </div>
                    
                </div>
                <div style="width:60%">
                    <span class="text" id="subgroup_manage_attendLabel">Select if Subgroup is Attending</span>
                    <div id="subgroup_manage_upcoming" style="width:100%;margin:20px">
                        
                    </div>
    
                    
                </div>
            </div>
        </div>
        <div data-partof="attendance" data-num="3" class="blockitem" style="display:none">
            <div style="display:flex;justify-content:space-between;align-items:center">
                <div style="width:80%">
                    <span class="text">Flagged Attendance Reports</span>
                    <div id="subgroup_manage_flaggedAttendance" style="width:100%;margin:20px">
                        
                    </div>
    
                    <span class="text">Confirm User Attendance</span>
                    <div id="subgroup_manage_confirmAttendance" style="width:100%;margin:20px">
                        
                    </div>
                    
                </div>
            </div>
        </div>
        
        
    </div>

    <div class="blockitem" data-partof="subgroup" data-num="4" style="width:100%;display:none">
        <div style="margin-bottom:20px">
            <div data-partof="admin" data-num="1" class="container c-border color-d c-hover blockcontrol" style="padding:10px 50px 10px 50px;margin:10px;display:inline-block">
                <span style="pointer-events: none">Announcements</span>
            </div>
        </div>
        <div data-partof="admin" data-num="1" class="blockitem" style="display:none;padding-bottom:80px">
            <div style="width:56%;display:inline-block">
                <div class="container c-slightborder" style="width:90%;padding:20px" id="chatViewer">
                    <div style="width:100%;border-radius:20px;background-color:#eeeeee;height:60vh;margin-bottom:10px;padding-top:10px;overflow-y:scroll" id="messages">
                        

                    </div>
                    
                    <div style="width:100%;display:flex;justify-content:space-between;align-items:center">
                        <textarea class="input" style="width:80%;resize:none;vertical-align:center;font-size:12px" id="subgroup_newMessage" placeholder="Your Message..."></textarea>
                        <div class="container c-border c-hover" style="padding:5px;margin:5px;vertical-align:center;display:inline-flex;width:20px;height:20px;justify-content:center;align-items:center" id="subgroup_sendMessage">
                            <span class="material-symbols-rounded" style="font-size:16px;pointer-events:none">send</span>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
        
    </div>

    <div id="overlayRes_add_member" style="display: none;"></div>
</div>
<script>
    var subgroup = undefined;
    var params = window.location.pathname.split("/");
    var admin = false;
    var me = undefined;
    $.ajax({
        url: '/acc/verify',
        type: 'GET',
        success: function(data){
            data = JSON.parse(data);
            if(data["successful"]){
                me = data["user"];
            }
        }
    })
    $.ajax({
        url: "/group/subgroup?tag=" + params[3],
        type: "GET",
        success: function(data){
            data = JSON.parse(data);
            if(data["successful"]){
                
                if(data["admin"]){
                    admin = true;
                }else{
                    document.getElementById("subgroup_manage_tabButton").remove();
                }

                
                Array.from(document.getElementsByClassName("subgroup_name")).forEach(function(e){
                    e.innerHTML = data["subgroup"]["name"];
                });

                Array.from(document.getElementsByClassName("subgroup_tag")).forEach(function(e){
                    e.innerHTML = data["subgroup"]["tag"];
                });

                subgroup = data["subgroup"];



                document.getElementById("contentToShow").style.opacity = "1";
                reloadUsers();
                reloadSubgroupItems();
            }
        }
    })
    var users = [];

    function reloadSubgroupItems(){
        $.ajax({
            url: "/group/items",
            type: "GET",
            headers: {
                "subgroup": subgroup.tag
            },
            success: function(data){
                data = JSON.parse(data);
                
                if(data["successful"]){
                    document.getElementById('subgroup_items').innerHTML = "";
                    
                    data['items'].forEach(i => {
                        i["icon"] = i["icon"].replace("-", "_");
                        var color = i["color"] == undefined ? "#4708c4" : i["color"];
                        document.getElementById('subgroup_items').innerHTML += `
                        <div class="container c-slightborder item" style="width:70%;padding:20px;margin-bottom:20px">
                            <div class="bigscreen">
                                <div style="width:14%;display:inline-block;vertical-align:middle">
                                    <div class="c-border bounce" style="border-radius: 60px;border-width:4px;background-color:${color};width:4.5vw;height:4.5vw;display:inline-block;min-width:40px;min-height:40px;border-color:${color}">
                                        <span class="material-symbols-rounded color-w" style="margin-top:24%;font-size:2.2vw">${i["icon"]}</span>
                                    </div>
                                    ${
                                        (i["details"] != undefined && i["details"]["end"] != undefined) ?
                                            `<br/>
                                            <div class="c-border bounce" style="padding:5px 0px;background-color:#4708c4;display:inline-block;margin-top:5px;width:4.5vw">
                                                <span class="color-w" style="font-size:1vw">3 days</span>
                                            </div>` : ``
                                    }
                                    
                                </div>
                                <div style="width:84%;display:inline-block;vertical-align:middle">
                                    <span class="text color-d" style="display:block;font-size:30px;margin:10px">${i["title"]}</span>
                                    <span class="text color-d" style="display:block;font-weight:500;margin:10px;font-size:16px">${i["contents"]}</span>
                                    ${
                                        i["result"]["to"] == "link" ?
                                            `<div class="container c-border c-hover link" style="padding:10px 50px 10px 50px;margin:10px" data-link="${i["result"]["data"]}">
                                                Open Link
                                            </div>` : ``
                                    }
                                    
                                </div>
                            </div>
                            <div class="smallscreen">
                                <div style="display:block;vertical-align:middle">
                                    <div class="c-border bounce" style="border-radius: 60px;border-width:4px;background-color:${color}width:4.5vw;height:4.5vw;display:inline-block;min-width:40px;min-height:40px;border-color:${color}">
                                        <span class="material-symbols-rounded color-w" style="width:50%;margin-top:24%;font-size:120%">${i["icon"]}</span>
                                    </div>
                                    ${
                                        (i["details"] != undefined && i["details"]["end"] != undefined) ?
                                            `<br/>
                                            <div class="c-border bounce" style="padding:5px 0px;background-color:#4708c4;display:inline-block;margin-top:5px;width:4.5vw">
                                                <span class="color-w" style="font-size:1vw">3 days</span>
                                            </div>` : ``
                                    }
                                    
                                </div>
                                <div style="display:block;vertical-align:middle">
                                    <span class="text color-d" style="display:block;font-size:30px;margin:10px">${i["title"]}</span>
                                    <span class="text color-d" style="display:block;font-weight:500;margin:10px;font-size:16px">${i["contents"]}</span>
                                    ${
                                        i["result"]["to"] == "link" ?
                                            `<div class="container c-border c-hover link" style="padding:10px 50px 10px 50px;margin:10px" data-link="${i["result"]["data"]}">
                                                Open Link
                                            </div>` : ``
                                    }
                                    
                                </div>
                            </div>
                            
                            
                        </div>
                        
                        `
                    })
                    Array.from(document.getElementsByClassName("bounce")).forEach(e => {
                        e.addEventListener("click", function() {
                            if(!e.classList.contains("bounce-on")){
                                e.classList.add("bounce-on");
                                setTimeout(function() {
                                    e.classList.remove("bounce-on");
                                }, 600);
                            }
                            
                        });
                    });
    
                    Array.from(document.getElementsByClassName("link")).forEach(e => {
                        e.addEventListener("click", function(evt) {
                            window.open(evt.srcElement.dataset.link, '_blank');
                        });
                    });
                }
            }
        })
    }

    document.getElementById("subgroup_manage_memberAdd").addEventListener("click", function(){
        document.getElementById("externalClickAction").dataset.action = "overlay";
        document.getElementById("externalClickAction").dataset.overlay = "add_member";
        document.getElementById("externalClickAction").click();
    })

    document.getElementById("overlayRes_add_member").addEventListener("click", function(evt){
        var data = evt.srcElement.innerHTML.split(";");
        console.log(data)
        var name = data[0].split("=")[1];
        var id = data[1].split("=")[1];

        console.log("Adding Member: " + name)

        
        $.ajax({
            url: "/group/subgroup/add",
            type: "POST",
            data: {
                "uid": id,
                "group": subgroup.name
            },
            success: function(data){
                console.log("Added Member: " + name)
                reloadUsers();
            }
        })
    });
    var messages = undefined;
    document.getElementById("subgroup_sendMessage").addEventListener('click', function(){
        var message = document.getElementById("subgroup_newMessage").value;

        if(message != ""){
            $.ajax({
                url: "/group/subgroup/message",
                type: "POST",
                data: {
                    "message": message,
                    "group": subgroup.name
                },
                success: function(data){
                    console.log("Message Sent")
                    document.getElementById("subgroup_newMessage").value = "";
                    reloadMessages();
                }
            })
        }
    })
    function reloadMessages(){
        $.ajax({
            url: '/group/subgroup/messages',
            type: 'GET',
            headers: {
                'group': subgroup.name
            },
            success: function(data){
                data = JSON.parse(data);
                if(data["successful"]){
                    messages = data["messages"];

                    var fHTML = "";
                    var lastSender = "";
                    messages.forEach(m => {
                        var showSender = m["sender"] != lastSender;
                        var sender = users.find(u => u.id == m["sender"]);
                        var isSender = m["sender"] == me.id;

                        fHTML += `
                        <div style="width: 100%;text-align:${isSender ? "right" : "left"}">
                            <div style="margin: 10px 20px;">
                                ${showSender ? `<span class="color-g" style="font-size: 10px;display:block;margin:2px;margin-left:5px">${sender["username"]}</span>` : ""}
                                <div style="background-color: ${isSender ? "#a77aff" : "#bbbbbb"};padding:10px;max-width:70%;border-radius:8px;display:inline-block">
                                    <span class="color-w" style="font-size: 12px;display:block;word-wrap:break-word">${m["message"]}</span>
                                </div>
                            </div>
                            
                        </div>
                        
                        `;



                        lastSender = m["sender"];
                    })
                    document.getElementById("messages").innerHTML = fHTML;
                }
            }
        })
    }


    function reloadUsers(){
        $.ajax({
            url: '/group/users',
            type: 'GET',
            success: function(data){
                data = JSON.parse(data);
                if(data["successful"]){
                    console.log(data);
                    users = data["items"].filter(u => u.access.groups.includes(subgroup.name) || subgroup.managers.includes(u.id) ); 
                    var members = users.filter(u => !subgroup.managers.includes(u.id));
                    var managers = users.filter(u => subgroup.managers.includes(u.id));
                    var fHTML = ``;
                    var protons = 0;

                    document.getElementById("subgroup_totalMembers").innerHTML = users.length;
                    managers.forEach(m => {
                        if(m.protonLog != undefined){
                            m.protonLog.forEach(p => {
                                protons += p.protons;
                            })
                        }
                        

                        fHTML += `
                        <div class="container c-slighterborder" style="padding:20px 10px;display:inline-flex;justify-content:space-between;width:80%;align-items:center;margin:5px;background-color:${me.id == m.id ? "#ceb5ff" : "white"};border:${me.id == m.id ? "2px solid #a77aff" : "none"}">
                            <span class="text color-d" style="pointer-events: none;margin-left:10px;font-size:14px;display:block;width:40%;text-align:left;font-weight:500"><strong>${m.username}</strong> (${m.fullname})</span>
                            <span class="text color-d" style="pointer-events: none;margin-left:10px;font-size:14px;display:block;width:20%;text-align:left;font-weight:500">${m.access.groups.length} Subgroups</span>
                            <span class="material-symbols-rounded" style="font-size:20px;pointer-events:none;padding-right:10px">star</span>
                        </div>`;
                    })
                    document.getElementById("subgroup_leaders").innerHTML = fHTML;

                    fHTML = ``;
                    members.forEach(m => {
                        if(m.protonLog != undefined){
                            m.protonLog.forEach(p => {
                                protons += p.protons;
                            })
                        }

                        fHTML += `
                        <div class="container c-slighterborder" style="padding:20px 10px;display:inline-flex;justify-content:space-between;width:80%;align-items:center;margin:5px;background-color:${me.id == m.id ? "#ceb5ff" : "white"};border:${me.id == m.id ? "2px solid #a77aff" : "none"}">
                            <span class="text color-d" style="pointer-events: none;margin-left:10px;font-size:14px;display:block;width:40%;text-align:left;font-weight:500"><strong>${m.username}</strong> (${m.fullname})</span>
                            <span class="text color-d" style="pointer-events: none;margin-left:10px;font-size:14px;display:block;width:20%;text-align:left;font-weight:500">${m.access.groups.length} Subgroups</span>
                            ${admin ? `<div class="container c-border-red c-hover-red color-r removeuser" style="padding:5px;margin:1px;margin-right:10px" data-id="u_${m.id}">
                                <span class="material-symbols-rounded" style="font-size:16px">delete</span>
                            </div>` : `<span class="material-symbols-rounded" style="font-size:20px;pointer-events:none;padding-right:10px">person</span>`}
                        </div>`;
                    })
                    document.getElementById("subgroup_members").innerHTML = fHTML;

                    document.getElementById("subgroup_totalProtons").innerHTML = protons;

                    Array.from(document.getElementsByClassName("removeuser")).forEach(e => {
                        e.addEventListener("click", function(evt){
                            var id = evt.srcElement.dataset.id.split("_")[1];

                            $.ajax({
                                url: "/group/subgroup/remove",
                                type: "POST",
                                data: {
                                    uid: id,
                                    group: subgroup.name
                                },
                                success: function(data){
                                    data = JSON.parse(data);
                                    if(data["successful"]){
                                        reloadUsers();
                                    }
                                }
                            })
                        })
                    })
                }
                reloadAttendance();
                reloadMessages();
            }
        })
    }

    function localCalcSuspiciousUsers(){
        var fHTML = ``;
        users.forEach(u => {
            var recentUH = [];
            var totalM = 0;
            var totalHM = 0;
            meetings.forEach(m => {
                var uLog = u.attendance.find(a => a.event == m._id && (a.status == "ATTEND" || a.status == "EXCUSED"));
                if(uLog != undefined){
                    var honest = 0;
                    if(!uLog.overriddenstatus == "ABSENT"){
                        honest = 1;
                        totalHM += 1;
                    }
                    totalM += 1;
                    recentUH.push(honest);
                }

                if(recentUH.length > 10){
                    recentUH.shift();
                }
            })



            var localHonesty = recentUH.reduce((a, b) => a + b, 0) / recentUH.length;
            var totalHonesty = totalHM / totalM;

            meetings.slice(meetings.length-2).forEach(m => {
                if(localHonesty < 1 && totalHonesty < 0.8){
                    fHTML += `
                    
                    <div class="container c-slighterborder" style="padding:20px;display:inline-block;width:200px;margin:5px">
                        <span class="text color-d" style="font-size:28px;margin:5px;display:block">${u.username}</span>
                        <div>
                            <span style="pointer-events: none" style="font-size:16px;display:block">@ ${m.datetime}</span>
                        </div>
                        <div>
                            <span style="pointer-events: none" style="font-size:16px;display:block"><strong>${Math.round(localHonesty*100)}%</strong> recent honesty</span>
                        </div>
                        
                        <div>
                            <div class="container c-border c-hover color" style="padding:5px;margin:1px">
                                <span class="material-symbols-rounded" style="font-size:16px">check</span>
                            </div>
                            <div class="container c-border-red c-hover-red color-r" style="padding:5px;margin:1px">
                                <span class="material-symbols-rounded" style="font-size:16px">report</span>
                            </div>
                        </div>
                        
                    </div>
                    
                    `;
                }
            })
        })
    }
    var allMeetings = [];
    var meetings = [];
    function reloadAttendance(){
        $.ajax({
            url: '/group/report/attendance',
            type: 'GET',
            success: function(data){
                data = JSON.parse(data);
                if(data['successful']){
                    meetings = data['meetings'].filter(m => m.subgroups.includes(subgroup.name));
                    allMeetings = data['meetings'];
                    var ourRate = meetings.length / data["meetings"].length;

                    document.getElementById("subgroup_manage_attendRate").innerHTML = `${Math.round(ourRate*100)}%`;
                    var now = new Date();
                    var prevMeetings = meetings.filter(m => new Date(m.datetime) < now);
                    var futureMeetings = meetings.filter(m => new Date(m.datetime) > now);
                     var futureAdminMeetings = allMeetings.filter(m => new Date(m.datetime) > now && admin);

                    var fHTML = ``;
                    var manHTML = ``;
                    if(admin){
                        document.getElementById("subgroup_manage_attendLabel").innerHTML = "Select if " + subgroup.name + " is Attending Each Meeting";
                    }
                    futureMeetings.forEach(m => {
                        var date = new Date(m.datetime);
                        var day = (date.getMonth()+1) + "/" + date.getDate() + "/" + date.getFullYear();
                        var time = date.getHours().toString().padStart(2, "0") + ":" + date.getMinutes().toString().padStart(2, "0") + (date.getHours() < 12 ? "AM" : "PM");
                        fHTML += `
                        <div class="container c-slighterborder" style="padding:20px 10px;display:inline-flex;justify-content:space-between;width:80%;align-items:center;margin:5px">
                            <span class="text color-d" style="pointer-events: none;margin-left:10px;font-size:14px;display:block;width:30%;text-align:left;font-weight:500"><strong>${day}</strong> @ ${time}</span>
                            <span class="text color-d" style="pointer-events: none;margin-left:10px;font-size:14px;display:block;width:30%;text-align:left;font-weight:500;text-overflow:ellipsis">${m.title}</span>
                            <span class="text color-d" style="pointer-events: none;padding-right:10px;font-size:14px;display:block;width:20%;text-align:right;font-weight:500">${m.length} hours</span>
                           
                        </div>
                        `;
                        
                    })
                    futureAdminMeetings.forEach(m => {
                        var date = new Date(m.datetime);
                        var day = (date.getMonth()+1) + "/" + date.getDate() + "/" + date.getFullYear();
                        var time = date.getHours().toString().padStart(2, "0") + ":" + date.getMinutes().toString().padStart(2, "0") + (date.getHours() < 12 ? "AM" : "PM");
                        manHTML += `
                            <div class="container c-slighterborder" style="padding:20px 10px;display:inline-flex;justify-content:space-between;width:90%;align-items:center;margin:5px">
                                <span class="text color-d" style="pointer-events: none;margin-left:10px;font-size:14px;display:block;width:25%;text-align:left;font-weight:500"><strong>${day}</strong> @ ${time}</span>
                                <span class="text color-d" style="pointer-events: none;margin-left:10px;font-size:14px;display:block;width:20%;text-align:left;font-weight:500;text-overflow:ellipsis">${m.title}</span>
                                <span class="text color-d" style="pointer-events: none;margin-left:10px;font-size:14px;display:block;width:25%;text-align:left;font-weight:500;text-overflow:ellipsis">${m.subgroups.length} already attending</span>
                            
                                <div>
                                    <span class="text" style="display:inline-block;vertical-align:middle;font-size:14px;margin-right:5px">Attending?</span>
                                    <div class="checkbox transition changeAttendance" data-partof="attend_${m._id}" style="display:inline-block;vertical-align:middle;margin-right:10px;background-color:${m.subgroups.includes(subgroup.name) ? "#4708c4" : ""}" data-checked="${m.subgroups.includes(subgroup.name) ? "YES" : "NO"}">
                                
                                    </div>
                                    
                                </div>
                            </div>
                            `;
                    })
                    document.getElementById("subgroup_manage_upcoming").innerHTML = manHTML;
                    document.getElementById("subgroup_upcoming").innerHTML = fHTML;

                    var fHTML = ``;
                    
                    var hours = 0;
                    var gmeetings = 0;
                    var gtotalmeetings = 0;
                    var allRequests = [];
                    prevMeetings.forEach(m => {
                        var date = new Date(m.datetime);
                        var day = date.getMonth() + "/" + date.getDate() + "/" + date.getFullYear();
                        var time = date.getHours().toString().padStart(2, "0") + ":" + date.getMinutes().toString().padStart(2, "0") + (date.getHours() < 12 ? "AM" : "PM");

                        var meetings = 0;
                        var totalMeetings = 0;

                        m["requests"].forEach(r => {
                            if(users.filter(e => e.id == r.requester).length > 0){
                                r["meetingId"] = m._id;
                                r["meetingTitle"] = m.title;
                                allRequests.push(r);
                            }
                            
                        })

                        users.forEach(u => {
                            totalMeetings += 1;
                            
                            if(u.attendance.find(a => a.event == m._id) != undefined && (u.attendance.find(a => a.event == m._id).status == "ATTEND" || u.attendance.find(a => a.event == m._id).overriddenstatus == "ATTEND")){
                                meetings += 1;
                                hours += m.length;
                            }
                            if(u.attendance.find(a => a.event == m._id) != undefined && u.attendance.find(a => a.event == m._id).overriddenstatus == "EXCUSED"){
                                totalMeetings -= 1;
                            }
                        })

                        var rate = totalMeetings > 0 ? Math.round((meetings / totalMeetings)*100) : 0;
                        fHTML += `
                        <div class="container c-slighterborder" style="padding:20px 10px;display:inline-flex;justify-content:space-between;width:80%;align-items:center;margin:5px">
                            <span class="text color-d" style="pointer-events: none;margin-left:10px;font-size:14px;display:block;width:30%;text-align:left;font-weight:500"><strong>${day}</strong> @ ${time}</span>
                            <span class="text color-d" style="pointer-events: none;margin-left:10px;font-size:14px;display:block;width:30%;text-align:left;font-weight:500;text-overflow:ellipsis">${rate}% Attendance Rate</span>
                            <span class="material-symbols-rounded" style="font-size:20px;pointer-events:none;padding-right:10px;opacity:${rate >= 75 ? 1 : 0.5}">${rate >= 75 ? "workspace_premium" : "thumb_up"}</span>
                           
                        </div>
                        `;

                        gmeetings += meetings;
                        gtotalmeetings += totalMeetings;
                    })

                    var reqHTML = '';
                    allRequests = allRequests.sort((a, b) => {
                        return new Date(a.datetime) - new Date(b.datetime);
                    });
                    allRequests.forEach(r => {
                        var user = users.filter(e => e.id == r.requester)[0];
                        reqHTML += `
                        <div class="container c-slighterborder" style="padding:20px 10px;display:inline-flex;justify-content:space-between;width:90%;align-items:center;margin:5px">
                            <span class="text color-d" style="pointer-events: none;margin-left:10px;font-size:14px;display:block;width:25%;text-align:left;font-weight:500">${user["fullname"]}</span>
                            <span class="text color-d" style="pointer-events: none;margin-left:10px;font-size:14px;display:block;width:20%;text-align:left;font-weight:500;text-overflow:ellipsis">${r["meetingTitle"]}</span>
                            <span class="text color-d" style="pointer-events: none;margin-left:10px;font-size:14px;display:block;width:25%;text-align:left;font-weight:500;text-overflow:ellipsis">Requesting <div style="padding:5px 8px;background-color:${r["final"] == "ATTEND" ? "#23cc39" : "gray"};border-radius:4px;display:inline-block;color:white">${status}</div></span>
                        
                        
                        </div>
                        
                        `;
                    })


                    Array.from(document.getElementsByClassName("changeAttendance")).forEach(e =>{
                        e.addEventListener('click', function(evt){
                            setTimeout(function(){
                                var id = evt.srcElement.dataset.partof.split("_")[1];
                                var action = evt.srcElement.dataset.checked == "YES" ? "add" : "remove";
                                $.ajax({
                                    url: "/group/subgroup/schedule",
                                    type: "POST",
                                    data: {
                                        meetingId: id,
                                        action: action,
                                        group: subgroup.name
                                    },
                                    success: function(data){
                                        
                                    }
                                })

                            },50);
                            

                        })
                    })

                    document.getElementById("subgroup_hours").innerHTML = hours;
                    document.getElementById("subgroup_rate").innerHTML = (gtotalmeetings > 0 ? Math.round((gmeetings / gtotalmeetings)*100) : 0) + "%";
                    document.getElementById("subgroup_past").innerHTML = fHTML;
                }
                localCalcSuspiciousUsers();
                reloadAllBaseEvents();
            }
        })
    }

    function reloadAllBaseEvents(){
        Array.from(document.getElementsByClassName("delete")).forEach(e => {
            e.addEventListener("click", function(evt){
                var id = parseInt(evt.srcElement.dataset.partof);
                id = currentItems[id]["_id"];
                $.ajax({
                    url: "/group/item",
                    type: "POST",
                    data: {
                        action: "delete",
                        _id: id
                    },
                    headers: {authorization: authId},
                    success: function(data) {
                        getMenuItems();
                    }
                })
            });
        });

        Array.from(document.getElementsByClassName("dropdown")).forEach(e => {

            var val = e.dataset.value;
            var partof = e.dataset.partof;
            if(val != undefined && val != null && val != ""){
                var option = e.querySelector(`.dropdown_option[data-partof="${partof}"][value="${val}"]`);
                if(option != undefined && option != null){
                    document.querySelector(`.dropdown_text[data-partof="${partof}"]`).innerHTML = option.innerHTML;
                    document.querySelector(`.dropdown_text[data-partof="${partof}"]`).style.opacity = 1;
                }
            }

            e.addEventListener("click", function(evt){
                var partof = evt.srcElement.dataset.partof;
                
                var elementLoc = evt.srcElement.getBoundingClientRect();
                var documentRect = document.body.getBoundingClientRect();
                var existing = document.querySelector(`.dropdown_option_container[data-partof="${partof}"]`)
                if(existing == undefined || existing == null){
                    var newElement = document.createElement("div");
                    newElement.classList.add("dropdown-content");
                    newElement.dataset.partof = partof;
                    newElement.style.position = "absolute";
                    newElement.style.top = elementLoc.top-90+80 + "px" + window.scrollY;
                    newElement.dataset.normY = elementLoc.top-90+80;
                    newElement.style.left = elementLoc.left+(elementLoc.width/2)+10 + "px";
                    
                    newElement.style.transform = "translateX(-50%)";

                    var addHTML = "";
                    var options = Array.from(document.querySelectorAll(`.dropdown_option[data-partof="${partof}"]`));

                    for(var i = 0; i < options.length; i++){
                        var e = options[i];
                        addHTML += `
                        <div data-value="${e.value}" data-partof="${partof}" style="padding:5px 0px;width:100%;border-radius:8px;margin:2px 0px" class="dropdown_option_show transition">
                            ${e.innerHTML}
                        </div>
                        `;
                    }

                    newElement.innerHTML = `
                    <div class="container c-slightborder dropdown_option_container" style="width:${(elementLoc.width-20) + "px"};border-radius:16px" data-partof="${partof}">
                        ${addHTML}
                    </div>
                    `
                    
                    evt.srcElement.appendChild(newElement)
                }else{
                    if(evt.srcElement.classList.contains("dropdown_option_show")){
                        console.log("AAA");
                        var newValue = evt.srcElement.dataset.value;
                        var newText = evt.srcElement.innerHTML;
                        document.querySelector(`.dropdown[data-partof="${partof}"]`).dataset.value = newValue;
                        document.querySelector(`.dropdown_text[data-partof="${partof}"]`).innerHTML = newText;
                        document.querySelector(`.dropdown_text[data-partof="${partof}"]`).style.opacity = "1";
                    }
                    existing.remove();
                }
            
                
            });
        });

        Array.from(document.getElementsByClassName("bounce")).forEach(e => {
            e.addEventListener("click", function() {
                if(!e.classList.contains("bounce-on")){
                    e.classList.add("bounce-on");
                    setTimeout(function() {
                        e.classList.remove("bounce-on");
                    }, 600);
                }
                
            });
        });

        Array.from(document.getElementsByClassName("link")).forEach(e => {
            e.addEventListener("click", function(evt) {
                window.open(evt.srcElement.dataset.link, '_blank');
            });
        });

        Array.from(document.getElementsByClassName("generateqr")).forEach(e => {
            e.addEventListener("click", function(evt){
                //
                var partof = evt.srcElement.dataset.partof;
                var host = window.location.host;
                    QrCreator.render({
                        text: host + "/ql/" + document.querySelector('.form_from[data-partof="' + partof + '"]').value,
                        radius: 0.4, // 0.0 to 0.5
                        ecLevel: 'H', // L, M, Q, H
                        fill: '#ffffff', // foreground color
                        background: null, // color or null for transparent
                        size: 200 // in pixels
                      }, document.querySelector(`.qrcode[data-partof="${partof}"]`));
                
            });
        });
        Array.from(document.getElementsByClassName("hideqr")).forEach(e => {
            e.addEventListener("click", function(evt){
                var partof = evt.srcElement.dataset.partof;
                document.querySelector(`.qrcode[data-partof="${partof}"]`).innerHTML = "";
            });
        });

        Array.from(document.getElementsByClassName("checkbox")).forEach(e => {
            e.addEventListener("click", function(evt){
                if(evt.srcElement.dataset.checked == "NO"){
                    evt.srcElement.style.backgroundColor = "#4708c4";
                    evt.srcElement.dataset.checked = "YES";
                }else{
                    evt.srcElement.style.backgroundColor = "white";
                    evt.srcElement.dataset.checked = "NO";
                }
            });
        });

        document.getElementById("contentToShow").style.opacity = 1;
        Array.from(document.getElementsByClassName("mainlogo")).forEach(e => {
            if(e.classList.contains("logospin")){
                e.classList.remove("logospin");
            }
            
        })

        Array.from(document.getElementsByClassName("iconedit")).forEach(e => {
            e.addEventListener("change", function(evt) {
                var partof = evt.srcElement.dataset.partof;
                document.querySelector(".iconshow[data-partof='" + partof + "']").innerHTML = evt.srcElement.value;
            });
        });

        
        Array.from(document.getElementsByClassName("blockcontrol")).forEach(e => {
            e.addEventListener("click", function(evt) {
                var num = evt.srcElement.dataset.num;
                var partof = evt.srcElement.dataset.partof;
    
                Array.from(document.querySelectorAll(".blockitem[data-partof='" + partof + "']")).forEach(e => {
                    if(e.dataset.num == num){
                        e.style.display = "block";
                    }else{
                        e.style.display = "none";
                    }
                });
    
                Array.from(document.querySelectorAll(".blockcontrol[data-partof='" + partof + "']")).forEach(e => {
                    if(e.dataset.num == num){
                        e.style.backgroundColor = "#4708c4";
                        e.children[0].style.color = "white";
                    }else{
                        e.style.backgroundColor = "";
                        e.children[0].style.color = "";
                    }
                });
            });
        });
    }

    
</script>