<div class="transition" style="display: inline-block;width:100%;opacity:0" id="contentToShow">

    <div style="width:80%;display:inline-flex;justify-content:space-between;padding:20px;align-items:center" class="container c-slightborder">
        <div style="text-align:left">
            <div style="display: inline-block;vertical-align:middle;margin:20px">
                <div class="c-border bounce" style="border-radius: 60px;border-width:4px;background-color:#4708c4;width:100px;height:100px;display:inline-flex;justify-content:center;align-items:center">
                    <span class="material-symbols-rounded color-w" style="font-size:56px">person</span>
                </div>
            </div>
            <div style="display: inline-block;vertical-align:middle">
                <span class="text color-d" style="font-size:40px;display:block" id="username">Daviado</span>
                <span class="text color-d" style="font-size:20px;display:block;font-weight:500">Part of <span id="group">Testing Environment</span></span>
                <div style="display: block;">
                    <div class="container c-border" id="roleC" style="padding:5px 15px;border-radius:40px;display:inline-block;margin:10px 0px">

                        <span class="text color-d" style="font-size:14px;display:inline-block;font-weight:500;color:white" id="role">Representative</span>
                    </div>
                </div>
                
                
            </div>
            
        </div>
        <div>
            <div class="container c-border c-hover color-m" id="reset_password" style="padding:10px 50px 10px 50px;margin:10px;display:none">
                Reset Password
            </div>
        </div>

    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <div id="passwordReset" style="display:none"></div>
</div>
<script>
    
    
    document.getElementById("passwordReset").addEventListener("click", function(evt){
        var data = JSON.parse(evt.srcElement.innerHTML);

        $.ajax({
            url: "/acc/reset",
            type: "POST",
            data: {
                oldPw: data["oldPassword"],
                newPw: data["newPassword"]
            },
            success: function(data){
                refreshUsers();
            }
        })
    })

    var params = window.location.pathname.split("/");
    $.ajax({
        url: "/group/user?id=" + params[3],
        type: "GET",
        success: function(data){
            data = JSON.parse(data);
            if(data["successful"]){
                document.getElementById("username").innerHTML = data["user"]["username"];
                document.getElementById("group").innerHTML = data["group"]["name"];
                document.getElementById("role").innerHTML = data["user"]["access"]["role"].toUpperCase();
                try{
                    document.getElementById("roleC").style.backgroundColor = data["group"]["roles"].find(r => r.name == data["user"]["access"]["role"]).color;
                    document.getElementById("roleC").style.borderColor = data["group"]["roles"].find(r => r.name == data["user"]["access"]["role"]).color;
                }catch(e){
                    document.getElementById("roleC").style.backgroundColor = "gray";
                    document.getElementById("roleC").style.borderColor = "gray";
                }
                
                document.getElementById("contentToShow").style.opacity = "1";
                if(!data["ownUser"]){
                    document.getElementById("reset_password").style.display = "none";
                }else{


                    document.getElementById("reset_password").style.display = "block";

                    document.getElementById("reset_password").addEventListener("click", function(evt){
                        document.getElementById("externalClickAction").dataset.action = "overlay";
                        document.getElementById("externalClickAction").dataset.overlay = "reset_password";
                        document.getElementById("overlay_done").dataset.sendback = "passwordReset";
                        document.getElementById("externalClickAction").dataset.data = JSON.stringify({
                            "hello":"there"
                        })
                        document.getElementById("externalClickAction").click();
                    })
                    
                }
            }
        }
    })
    Array.from(document.getElementsByClassName("bounce")).forEach(e => {
        e.addEventListener("click", function() {
            if(!e.classList.contains("bounce-on")){
                e.classList.add("bounce-on");
                setTimeout(function() {
                    e.classList.remove("bounce-on");
                }, 600);
            }
            
        });
    });

</script>