body{
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    padding:0;
    user-select: none;
}

.dropdown_option_show{
    background-color: #ffffff;
    padding: 0px 5px;
}
.dropdown_option_show:hover{
    background-color: #4708c4;
    color:white;
}
.dropdown_option_show:active{
    background-color: #4708c4;
    color:white;
}

.smallscreen{
    display: none;
}

@media only screen and (max-width: 600px){
    .bigscreen{
        display: none;
    }
    .smallscreen{
        display: block;
    }
}


.container{
    padding: 10px;
    background-color: #ffffff;
    display: inline-block;
    transition: .4s ease all; 
    color: #2b047a;
}
.container:disabled{
    opacity: 0.5;

}

.checkbox{
    padding: 10px;
    
    background-color: white;
    border-radius: 8px;
    border: 2px solid #4708c4;
    display: inline-block;
    transition: .4s ease all; 
    color: #4708c4;
}

.text{
    font-size: 20px;
    font-weight: 600;
    color: #4708c4;
}

.input{
    border-radius: 60px;
    border: 1px solid #2b047a;
    padding: 10px;
    transition: .4s ease all; 
}

.header{
    position: absolute;
    height:50px;
    padding:20px;
    padding-left:0px;
    padding-right:0px;
    top:0;
    left:0;
    background-color: #ffffff;
    width:100%
}

.overlay_bg{
    position: absolute;
    height:100%;
    width:100%;
    background-color: rgba(0,0,0,0.4);
    top:0;
    left:0;
    z-index: 5;
}

.c-border{
    border: 2px solid #4708c4;
    border-radius: 60px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.4);

}

.c-border-gray{
    border: 2px solid #555555;
    border-radius: 60px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.4);

}

.c-border-red{
    border: 2px solid #ff413b;
    border-radius: 60px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.4);

}

.c-slightborder{
    border-radius: 40px;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
}
.c-slighterborder{
    border-radius: 20px;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
}

.c-hover:hover{
    background-color: #4708c4;
    cursor: pointer;
    color: #ffffff;
}
.c-hover:active{
    background-color: #2b047a;
    border: 2px solid #2b047a;
    cursor: pointer;
    color: #ffffff;
}

.c-hover-gray:hover{
    background-color: #555555;
    cursor: pointer;
    color: #ffffff;
}
.c-hover-gray:active{
    background-color: #333333;
    border: 2px solid #333333;
    cursor: pointer;
    color: #ffffff;
}

.c-hover-red:hover{
    background-color: #ff413b;
    cursor: pointer;
    color: #ffffff;
}
.c-hover-red:active{
    background-color: #b8221d;
    border: 2px solid #b8221d;
    cursor: pointer;
    color: #ffffff;
}

.color-m{
    color:#4708c4;
}
.color-s{
    color:#d324e3;
}
.color-d{
    color:#2b047a;
}
.color-g{
    color:#333333;
}
.color-r{
    color:#ff413b;
}
.color-l{
    color:#a77aff;
}

.color-w{
    color:#ffffff;
}

.expand{
    width: 40px;
    transition: 0.4s ease all;
}
.expand .A{
    display: unset;
}
.expand .B{
    display: none;
}

.expand:hover{
    cursor: pointer;
    width: 200px;
}
.expand:hover .A{
    display: none;
}
.expand:hover .B{
    display: unset;
}

.bounce{
    transition: 0.4s ease all;
    cursor: pointer;
}
.bounce-on{
    animation-name: turnbounce;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

.slowlogo{
    animation-name: slowlogo;
    animation-duration: 8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes slowlogo {
    0% {
        transform: rotate(-20deg);
    }
    50% {
        transform: rotate(20deg);
    }
    100% {
        transform: rotate(-20deg);
    }
    
}

.transition{
    transition: 0.4s ease all;
}

@keyframes turnbounce {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(10deg);
    }
    40% {
        transform: rotate(-10deg);
    }
    60% {
        transform: rotate(10deg);
    }
    80% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
    
}

.dateitem{
    cursor: pointer;
}

.mainlogo{
    transform: rotate(0deg);
    transition: .5s ease-in-out all;
    cursor: pointer;
}
.logospin{
    animation: spin .5s ease-in-out infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*

COLORS:

#4708c4
#2b047a
#d324e3

*/